.autoset__list {
  padding-left: 30px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
}

.autoset__list_item {
  position: relative;
}

.autoset__list_item + .autoset__list_item {
  margin-top: 10px;
}

.autoset__list-market_item:before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: #e2001a;
  position: absolute;
  top: 9px;
  left: -25px;
}

.autoset__list-number_item-value {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #e2001a;
  position: absolute;
  top: -1px;
  left: -25px;
}