body.touch select.myselect_block {
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  display: block;
  position: absolute;
  z-index: 2;
}

.myselect_body {
  width: 55px;
  height: 26px;
  display: table;
  margin-top: 2px;
}

.myselect_block.js-select-visual {
  position: relative;
}

.myselect_block.js-select {
  display: none;
  position: relative;
}

.myselect_block span.select-value {
  width: 55px;
  height: 26px;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  display: table;
  line-height: 26px;
  text-align: left;
  box-shadow: inset 0 0 0 1px #eee;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  padding-left: 7px;
}

.myselect_block span.select-value:hover {
  cursor: pointer;
}

.myselect_block span.select-value:after {
  position: absolute;
  content: '';
  top: 50%;
  right: 8px;
  margin-top: -4px;
  transition: 0.3s;
  background-image: url(../basket/basket-main/img/arrow_666666_down.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 13px;
  height: 8px;
}

.myselect_block ul.select-list {
  display: none;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  display: none;
  width: 55px;
  box-shadow: inset 0 0 0 1px #eee;
  list-style: none;
  background-color: #fff;
  padding: 5px 0px;
}

.myselect_block ul.select-list li {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.myselect_block ul.select-list li.active {
  background-color: red;
  color: #fff;
}

.myselect_block ul.select-list li:hover {
  color: #fff;
  background-color: red;
  cursor: pointer;
}

.myselect_block.open ul.select-list {
  display: block;
}

.myselect_block.open span.select-value:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
.modal-open .modal-container {
  display: block;
}

.modal-open .modal.open {
  display: block;
}

.overlay {
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 4;
  position: fixed;
  height: 100%;
  width: 100%;
}

.overlay-open .overlay {
  display: block;
}

.modal-container {
  width: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

.modal {
  margin: 0 auto;
  width: 920px;
  display: none;
  justify-content: flex-end;
  background-color: #fff;
  z-index: 100000;
  position: relative;
}

.modal-header {
  background-color: #999;
  padding: 12px 0px;
  text-align: center;
  position: relative;
}

.modal-header-text {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

.modal-close-click {
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
}

.modal-close-click:hover {
  cursor: pointer;
}

.modal-close-click_icon {
  display: block;
  width: inherit;
  height: inherit;
  color: #fff;
  fill: #fff;
}
