body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6, p, ul, button{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none; 
}
a{
  text-decoration: none;
}
a, label. p, button, span{
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}
button{
  font-family: inherit;
  font: inherit;
}
.container-block {
  width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
  min-width: 320px;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.linkBlind {
  display: inline-block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

* {
  box-sizing: border-box;
}
*:focus{
  outline: none;
}

/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
.allClose {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: none;
}
.allClose.open {
    display: block;
}
input::-webkit-input-placeholder {
    color: #cfcfcf;
}
input::-moz-input-placeholder {
    color: #cfcfcf;
}
input::-ms-input-placeholder {
    color: #cfcfcf;
}
input:-ms-input-placeholder {
    color: #cfcfcf;
}
input::placeholder {
    color: #cfcfcf;
}
input[type="radio"],
input[type="checkbox"]{
  display: none;
}
.star-forlabel { /*!!!тег span*/
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 16px;
    color: #e2001a;
}
.hover-red-text:hover{
  cursor: pointer;
  color: #ff2c2c;
  fill: #ff2c2c;
}
.hover-red-text:hover svg{  /*тег с классом hover-red-text, а внутри svg*/
  cursor: pointer;
  color: #ff2c2c;
  fill: #ff2c2c;
}
.input-style{
  display: block;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 20px;
  color: #000;
  height: 36px;
  width: 100%;
  padding: 8px 10px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: inset 0px 0px 0px 1px #eee;
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}
.input-style.empty-field {
  border: 1px solid #e2001a;
}
.radio-label{
  position: relative;
}
.chbox-label{
  position: relative;
}
.radio-label:hover{
  cursor: pointer;
}
.chbox-label:hover{
  cursor: pointer;
}
.radio-label:before{ /*input + label!!!!!!!!!!!!!!!!!!*/
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  box-shadow: 0px 0px 0px 1px #ddd;
  border-radius: 50%;
  background-color: #fff;
}
.chbox-label:before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    background-image: url(../img/cb_unchecked.svg);
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
input[type="radio"]:checked + .radio-label:before{
  background-color: #fff;
  width: 18px;
  height: 18px;
  border: 5px solid #fff;
  box-shadow: inset 0px 0px 0px 5px #000, 0px 0px 0px 1px #ddd;
}
input[type="checkbox"]:checked + .chbox-label:before{
  background-image: url(../img/cb_checked_all.svg);
}
.btn-style {
  display: block;
  width: 100%;
  height: 40px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  color: #fff;
  background-color: #e2001a;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  border: none;
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}
.btn-style:hover {
    background-color: #ff2c2c;
    cursor: pointer;
}

/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
@media (max-width: 1440px) {
  .container-block {
    width: 1200px;
  }
}

@media (max-width: 1199px) {
  .container-block {
    width: 960px;
  }
}

@media (max-width: 959px) {
  .container-block {
    width: 768px;
  }
}

@media (max-width: 767px) {
  .container-block {
    width: 640px;
  }
}

@media (max-width: 639px) {
  .container-block {
    width: 480px;
  }
}

@media (max-width: 479px) {
  .container-block {
    width: 100%;
  }
}
