body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6, p, ul, button{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none; 
}
a{
  text-decoration: none;
}
a, label. p, button, span{
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}
button{
  font-family: inherit;
  font: inherit;
}
.container-block {
  width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
  min-width: 320px;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.linkBlind {
  display: inline-block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

* {
  box-sizing: border-box;
}
*:focus{
  outline: none;
}

/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
.star-forlabel { /*!!!тег span*/
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #e2001a;
}
.hover-red-text:hover{
  cursor: pointer;
  color: #ff2c2c;
  fill: #ff2c2c;
}
.hover-red-text:hover svg{  /*тег с классом hover-red-text, а внутри svg*/
  cursor: pointer;
  color: #ff2c2c;
  fill: #ff2c2c;
}
.input-style{
  display: block;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 20px;
  color: #000;
  height: 36px;
  width: 100%;
  padding: 8px 10px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: inset 0px 0px 0px 1px #eee;
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}
.input-style.empty-field {
  border: 1px solid #e2001a;
}


@media (max-width: 1440px) {
  .container-block {
    width: 1200px;
  }
}

@media (max-width: 1199px) {
  .container-block {
    width: 960px;
  }
}

@media (max-width: 959px) {
  .container-block {
    width: 768px;
  }
}

@media (max-width: 767px) {
  .container-block {
    width: 640px;
  }
}

@media (max-width: 639px) {
  .container-block {
    width: 480px;
  }
}

@media (max-width: 479px) {
  .container-block {
    width: 100%;
  }
}
@supports (-webkit-overflow-scrolling: touch) {
  .input-style {
    padding: 9px 10px 7px 10px;
  }
}
