@media (max-width: 959px) {  
  .header-mobile-modalmenu{
    display: none;
    position: absolute;
    width: 320px;
    font-size: 20px;
    -webkit-box-shadow: 0 45px 40px rgba(0,0,0,0.4);
            box-shadow: 0 45px 40px rgba(0,0,0,0.4);
    overflow-x: hidden;
    top: 65px;
    right: 120px;
    background-color: #FFF;
    z-index: 100;
    color: #000;
  }
  .header-mobile-modalmenu.open{
    display: block;
  }
  .header-mobile-bold-weight{
    font-weight: bold;
  }
  .header-mobile__small-size{
    font-size: 18px;
  }
  .header-mobile-modalmenu__modal.open{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%
  }
  .header-mobile-modalmenu__modal-header,
  .header-mobile-modalmenu__modal_submenu-header{
    background-color:#f52f2f;
    color: #FFF;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 10px 20px;
    -ms-align-items: center;
    align-items: center;
    min-height: 44px;
  }
  .header-mobile-modalmenu__modal-close{
    position: relative;
    background: none;
    border: none;
    width: 15px;
    height: 15px;
  }
  .header-mobile-modalmenu__modal-close_icon{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0px;
    right: 0px;
    color: #fff;
    fill: #fff;
  }
  .header-mobile-modalmenu__list-body{
    margin-top: 10px;
    overflow: auto;
  }
  .header-mobile-modalmenu__list-item{
    height: 40px;
  }
  .header-mobile-modalmenu__list-nextGo,
  .header-mobile-modalmenu__list-link{
    display: block;
    position: relative;
    line-height: 40px;
    padding: 0 20px;
    color: inherit;
  }
  .header-mobile-modalmenu__modal-main .border-bottom{
    box-shadow: inset 0px -1px 0px 0px #ddd;
    display: block;
    height: 1px;
    width: 100%;
    margin: 10px 0;
  }
  .header-mobile-modalmenu__list-arrow-icon{
    position: absolute;
    width: 10px;
    height: 10px;
    color: #000;
    fill: #000;
  }
  .header-mobile-modalmenu__list-arrow-icon_go{
    right: 20px;
    left: auto;
    top: 16px;
  }
  .header-mobile-modalmenu__list-arrow-icon_back{
    left:-15px;
    top: 8px;
    color: #fff;
    fill: #fff;
  }
  .header-mobile-modalmenu__modal_submenu{
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        -webkit-transition: left 0.3s;
        -moz-transition: left 0.3s;
        -o-transition: left 0.3s;
        transition: left 0.3s;
        background-color: #FFF;
        box-shadow: none;
  }
 
  .header-mobile-modalmenu__modal-back{
    position: relative;
  }
}
@media (max-width: 767px) {
  .header-mobile-modalmenu {
    right: 20px;
  }
}
@media (max-width: 639px) {
  .header-mobile-modalmenu {
    right: 130px;
    top: 100px;
  }
}

@media (max-width: 567px) {
  body.mobilemenu-open{
    overflow: hidden;
    position: fixed;
  }
  .header-mobile-modalmenu {
    width: 100%;
    height: 100%;
    top: 0%;
    right: 0%;
    border-radius: 0px;
    box-shadow: none;
    position: fixed;
    overflow-y: auto;
  }
  .header-mobile-modalmenu__modal.open {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  .header-mobile-modalmenu__modal_submenu{
    position: fixed;
  }
  .header-mobile-modalmenu__modal_submenu-main{
    background-color: #fff;
    height: 
  }
}