.bskt-pay-page__total-price-item{
  display: table;
}
.bskt-pay-page__longterm{
  padding: 10px 20px;
}

.bskt-pay-page__longterm-block{
  margin: 0 -20px;
}
.bskt-pay-page__longterm-item{
  float: left;
  width: 50%;
  padding: 10px 20px;
}
.bskt-pay-page__longterm-item-period,
.bskt-pay-page__longterm-item-first-pay{
  display: inline-block;
  vertical-align: bottom;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
.bskt-pay-page__longterm-item-period_value,
.bskt-pay-page__longterm-item-first-pay_value{
  display: inline-block;
  vertical-align: bottom;
  margin-left: 20px;
  font-size: 22px;
  line-height: 26px;
  font-weight: bold;
}
.bskt-pay-page__longterm-item-period_slider,
.bskt-pay-page__longterm-item-first-pay_slider{
  display: block;
  width: 100%;
  height: 70px;
  background-color: lightgray;
}
.bskt-pay-page__list-item-left{
  width: 236px;
}
.bskt-pay-page__list-item-right{
  width: 179px;
}


@media (max-width: 1440px) {}

@media (max-width: 1199px) {}

@media (max-width: 959px) {
  .bskt-pay-page__longterm-block {
    margin: 0 -15px;
  }
  .bskt-pay-page__longterm-item {
    padding: 10px 15px;
  }
  .bskt-pay-page__list-item-left {
    width: 150px;
  }
  .bskt-pay-page__list-item-right {
    width: 180px;
  }
}

@media (max-width: 767px) {
  .bskt-pay-page__list-item-right {
    width: 115px;
  }
  .bskt-pay-page__block-for-icon-question {
    width: 600px;
  }
}

@media (max-width: 639px) {
  .bskt-pay-page__longterm-block {
    margin: 0px;
  }
  .bskt-pay-page__longterm {
    padding: 10px 10px;
  }
  .bskt-pay-page__longterm-item {
    width: 100%;
    padding: 10px 0px;
  }
  
  .bskt-pay-page__list-item-left {
    width: 59%;
  }
  .bskt-pay-page__list-item-right {
    width: 39%;
  }
  .bskt-pay-page__block-for-icon-question {
    width: 440px;
  }
}

@media (max-width: 479px) {
  .bskt-pay-page__block-for-icon-question {
    width: calc(100vw - 40px);
  }
}

@media (max-width: 320px) {}