.bskt-header__block {
  padding: 20px 0px;
}

.bskt-header__item {
  float: left;
  width: 25%;
  text-align: center;
  padding: 0px 0px 0px 0px;
  position: relative;
  z-index: 1;
  line-height: 50px;
}

.bskt-header__item:after {
  content: '';
  display: block;
  position: absolute;
  top: 24px;
  right: -15px;
  z-index: inherit;
  width: 30px;
  height: 2px;
  background-color: #aaa;
}

.bskt-header__item:last-of-type:after {
  display: none;
}

.bskt-header__item:last-of-type {
  text-align: right;
}

.bskt-header__item-svg {
  display: inline-block;
  vertical-align: middle;
  z-index: 0;
  width: 50px;
  height: 50px;
  color: #aaaaaa;
  fill: #aaaaaa;
}

.bskt-header__item-text {
  display: inline-block;
  vertical-align: middle;
  line-height: inherit;
  margin-left: 10px;
  font-size: 22px;
  font-weight: bold;
}
@media (max-width: 1440px) {}

@media (max-width: 1199px) {}

@media (max-width: 959px) {
  .bskt-header__item-text {
      display: block;
      margin-left: 0px;
      line-height: 24px;
      margin-top: 10px;
  }
  .bskt-header__item:last-of-type {
      text-align: center;
  }
}

@media (max-width: 767px) {
  .bskt-header__block {
    padding: 10px 0px;
  }
  .bskt-header__item-text {
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px;
  }
}

@media (max-width: 639px) {
  .bskt-header__item {
    line-height: 30px;
  }
  .bskt-header__item-svg {
    width: 30px;
    height: 30px;
  }
  .bskt-header__item:after {
    top: 15px;
    right: -10px;
    width: 20px;
    height: 1px;
  }
  .bskt-header__item-text {
    display: none;
  }
}

@media (max-width: 479px) {}

@media (max-width: 320px) {}