.bskt-footer-block
{
    padding: 20px 0;
    margin: 0 -10px;
}

.bskt-footer-left
{
    float: left;
    width: 62%;
    padding: 0px 10px;
}

.bskt-footer-left__top
{
    padding-bottom: 20px;

    box-shadow: inset 0 -2px 0 0 #fff;
    margin: 0 -10px;
}

.bskt-footer-left__top-promo
{
    position: relative;
    float: left;
    width: 50%;
    padding: 0 10px;
}

.bskt-footer-left__top-input
{
    font-size: 14px;

    width: 270px;
    height: 30px;
    padding: 0 25px 0 15px;

    text-transform: uppercase;

    border: none;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 0 1px #eee;
    -webkit-tap-highlight-color: transparent;
        -ms-tap-highlight-color: transparent;
       -moz-tap-highlight-color: transparent;
         -o-tap-highlight-color: transparent;
}

.bskt-footer-left__top-delete
{
    position: absolute;
    top: 7px;
    right: 17px;

    display: block;

    width: 14px;
    height: 14px;

    border: none;
    background: none;
}

.bskt-footer-left__top-delete_icon
{
    width: inherit;
    height: inherit;

    color: #999;

    fill: #999;
}

.bskt-footer-left__top-delete:hover
{
    cursor: pointer;
}

.bskt-footer-left__top-label
{
    float: left;
    width: 50%;
    padding: 0 10px;
}

.bskt-footer-left__top-label_text
{
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
    color: #999;
    border-radius: 3px;
    background-color: #e0e0e0;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
}

.bskt-footer-left__top-label:hover
{
    cursor: default;
}

.bskt-footer-left__bottom
{
    padding-top: 20px;
}

.bskt-footer-left__bottom-links_mobile
{
    display: none;
}

.bskt-footer-left__bottom-link
{
    font-size: 12px;

    position: relative;

    display: inline-block;

    max-width: 125px;
    padding-left: 55px;

    vertical-align: middle;
      -webkit-tap-highlight-color: transparent;
        -ms-tap-highlight-color: transparent;
       -moz-tap-highlight-color: transparent;
         -o-tap-highlight-color: transparent;
}

.bskt-footer-left__bottom-link + .bskt-footer-left__bottom-link
{
    margin-left: 16px;
}

.bskt-footer-left__bottom-link_icon
{
    position: absolute;
    top: -7px;
    left: 0;

    width: 44px;
    height: 44px;

    color: #519a00;

    fill: #519a00;
}

.bskt-footer-left__bottom-back
{
    margin-top: 45px;

    text-align: center;
}

.bskt-footer-left__bottom-back-link
{
    font-size: 14px;
    font-weight: bold;

    position: relative;

    padding-left: 25px;

    text-transform: uppercase;
     -webkit-tap-highlight-color: transparent;
        -ms-tap-highlight-color: transparent;
       -moz-tap-highlight-color: transparent;
         -o-tap-highlight-color: transparent;
}

.bskt-footer-left__bottom-back-link:before
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    content: '';

    border: 8px solid transparent;
    border-right-color: #e2001a;
}
.bskt-footer-left__bottom-btn_back
{
    float: left;
    text-align: right;
    width: 62%;
    padding: 20px 10px 0px 10px;
}
.bskt-footer-left__bottom-btn_back-mobile
{
    display: none;
}
.bskt-footer-left__bottom-btn_back-link
{
    font-size: 16px;
    font-weight: bold;
    line-height: 52px;

    display: inline-block;

    width: 354px;
    height: 50px;

    text-align: center;
    text-transform: uppercase;

    border-radius: 3px;
    background-color: #e0e0e0;
    -webkit-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
}
.bskt-footer-left__bottom-btn_back-link:hover
{
    box-shadow: inset 0 0 0 1px #ccc;
}

.bskt-footer-right
{
    float: left;
    width: 38%;
    padding: 0px 10px;
}

.bskt-footer-right_total-list_item
{
    font-size: 16px;

    position: relative;
}

.bskt-footer-right_total-list_item + .bskt-footer-right_total-list_item
{
    margin-top: 10px;
}

.bskt-footer-right_total-list_item-left
{
    position: relative;
    z-index: 1;

    display: inline-block;

    width: 150px;

    text-align: right;
    vertical-align: bottom;

    background-color: #f3f3f3;
}

.bskt-footer-right_total-list_item-right
{
    position: relative;
    display: inline-block;
    overflow: hidden;

    width: 183px;

    text-align: right;
    vertical-align: bottom;
}
.bskt-footer-right_total-list_item-right:before
{
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;

    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 2px;

    content: '.........................................................................................................................................';
    letter-spacing: 3px;
    color: #999;
}
.bskt-footer-right_total-list_item-right_witoutDot:before{
    display: none;
}

.bskt-footer-right_total-list_item-value
{
    font-weight: bold;

    position: relative;
    z-index: 2;

    background-color: #f3f3f3;
}

.bskt-footer-right_total-list_item-value_big-text
{
    font-size: 24px;
    line-height: 28px;
}



.bskt-footer-right_next
{
    margin-top: 0px;
    float: left;
    width: 38%;
    padding: 20px 10px 0px 10px;
}

.bskt-footer-right_next-link
{
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;

    display: block;

    width: 100%;
    height: 50px;

    text-align: center;
    text-transform: uppercase;

    border-radius: 3px;
        -webkit-tap-highlight-color: transparent;
        -ms-tap-highlight-color: transparent;
       -moz-tap-highlight-color: transparent;
         -o-tap-highlight-color: transparent;
}

.bskt-footer-right_next-link:hover
{
    background-color: #ff2c2c;
}

.bskt-footer-right_back
{
    display: none;
}
.bskt-footer-fromCabinet
{
    float: left;

    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;

    text-align: center;
}
.bskt-footer-fromCabinet_text
{
    font-size: 16px;
    line-height: 20px;

    color: #000;
}
.bskt-footer-fromCabinet_link
{
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
}
.bskt-footer-pay-page__icon-question{
  position: relative;
  top: 3px;
  left: -3px;
  width: 16px;
  height: 16px;
  color: #999;
  fill: #999;
  -webkit-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
}
.bskt-footer-pay-page__icon-question:hover{
  cursor: pointer;
}
.bskt-footer-pay-page__block-for-icon-question{
  position: absolute;
  z-index: 100;
  top: 52px;
  right: 0px;
  display: none;
  width: 320px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
}
.bskt-footer-pay-page__block-for-icon-question.open{
  display: block;
}
.bskt-footer-pay-page__block-for-icon-question_icon-close{
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 14px;
  height: 14px;
  color: #999;
  fill: #999;
  -webkit-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
}
.bskt-footer-pay-page__block-for-icon-question_icon-close:hover{
  cursor: pointer;
}
.bskt-footer-pay-page__block-for-icon-question_text,
.bskt-footer-pay-page__block-for-icon-question_time-work{
  font-size: 16px;
}
.bskt-footer-pay-page__block-for-icon-question_text + .bskt-pay-page__block-for-icon-question_text{
  margin-top: 10px;
}
.bskt-footer-pay-page__block-for-icon-question_text + .bskt-pay-page__block-for-icon-question_time-work{
  margin-top: 10px;
}
.bskt-footer-pay-page__block-for-icon-question_time-work{
  display: block;
}
@media (max-width: 1440px)
{
}

@media (max-width: 1199px)
{
}

@media (max-width: 959px)
{
    .bskt-footer-left__top-promo
    {
        width: 100%;
    }
    .bskt-footer-left__top-input
    {
        width: 100%;
    }
    .bskt-footer-left__top-label
    {
        width: 100%;
        margin-top: 20px;
    }
    .bskt-footer-left__bottom-link
    {
        max-width: 70px;
        padding-left: 0;

        text-align: center;
         -webkit-tap-highlight-color: transparent;
            -ms-tap-highlight-color: transparent;
           -moz-tap-highlight-color: transparent;
             -o-tap-highlight-color: transparent;
    }
    .bskt-footer-left__bottom-link_icon
    {
        position: relative;
        top: 0;
        left: 0;

        display: block;

        margin: 0 auto;
        margin-bottom: 10px;
    }
    .bskt-footer-left,
    .bskt-footer-right,
    .bskt-footer-left__bottom-btn_back,
    .bskt-footer-right_next{
        width: 50%;
    }
    .bskt-footer-right_total-list_item-right {
        width: 165px;
    }
    .bskt-footer-right_total-list_item-left
    {
        width: 185px;
    }
    .bskt-footer-left__bottom-link + .bskt-footer-left__bottom-link {
        margin-left: 20px;
    }
    .bskt-footer-left__bottom-back
    {
        display: none;
    }
    .bskt-footer-right_back
    {
        display: block;
        float: right;
        width: 50%;

        margin-top: 20px;
    }
    .bskt-footer-left__bottom-btn_back-link
    {
        width: 100%;
    }
}

@media (max-width: 767px)
{
    .bskt-footer-left__bottom-link
    {
        float: left;
    }
    .bskt-footer-left__bottom-link + .bskt-footer-left__bottom-link
    {
        margin-left: 0;
    }
    .bskt-footer-right_total-list_item-left
    {
        width: 110px;
    }
    .bskt-footer-right_total-list_item-right {
        width: 175px;
    }
    .bskt-footer-fromCabinet
    {
        padding: 0 100px;
    }
    .bskt-footer-left__bottom-link {
        max-width: 72px;
    }
}

@media (max-width: 639px)
{   
    .bskt-footer-block {
         margin: 0px; 
    }
    .bskt-footer-left
    {
        display: block;

        width: 100%;
        padding: 0px;
    }
    .bskt-footer-left__bottom
    {
        padding-top: 0;
    }
    .bskt-footer-left__bottom-links
    {
        display: none;
    }
    .bskt-footer-left__bottom-links_mobile
    {
        display: block;
        float: left;
        width: 100%;

        margin-top: 30px;
    }
    .bskt-footer-left__bottom-link
    {
        float: left;

        width: 25%;
        min-width: 70px;
        max-width: 25%;
        padding: 0 5px;

        text-align: center;
    }
    .bskt-footer-right
    {
        display: block;

        width: 100%;
        padding: 20px 0px 0px 0px;
    }
    .bskt-footer-left,
    .bskt-footer-right,
    .bskt-footer-left__bottom-btn_back,
    .bskt-footer-right_next {
        width: 100%;
    }
    .bskt-footer-right_back {
        width: 100%;
    }
    .bskt-footer-right_next {
        padding: 20px 0px 0px 0px;
    }
    .bskt-footer-right_total-list_item-left
    {

        width: 38%;
    }
    .bskt-footer-right_total-list_item-right
    {

        width: 60%;
        padding-left: 10px;
    }
    .bskt-footer-left__bottom-btn_back
    {
        display: none;
    }
    .bskt-footer-left__bottom-btn_back-mobile
    {
        display: block;
        padding: 20px 0px 0px 0px;
    }
    .bskt-footer-fromCabinet
    {
        padding: 0 0;
    }
}

@media (max-width: 479px)
{
}

@media (max-width: 320px)
{
}
