.bskt-delivery-page input{
  -webkit-appearance: none;
}

.allClose{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    display: none;
    -webkit-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
}
.allClose.open{
    display: block;
}
.container-block{
  width: 960px;
  padding: 0 20px;
  margin: 0 auto;
}
.bskt-col_rd {
  color: #e2001a;
}

.bskt-col_bl {
  color: #000;
}

.bskt-col_gr {
  color: #999;
}

.bskt-col_wh {
  color: #fff;
}

.bskt-weight_bold {
  font-weight: bold;
}

.bskt-bgc-lightgr {
  background-color: #eee;
}

.bskt-bgc-gr {
  background-color: #f3f3f3;
}

.bskt-bgc-rd {
  background-color: #e2001a;
}

.bskt-fz-12 {
  font-size: 12px;
}

.bskt-fz-14 {
  font-size: 14px;
}

.bskt-fz-16 {
  font-size: 16px;
}

.bskt-fz-18 {
  font-size: 18px;
}

.bskt-fz-22 {
  font-size: 22px;
}

.bskt-fz-24 {
  font-size: 24px;
}
.bskt-fz-30 {
  font-size: 30px;
}

.bskt-lh-28 {
  line-height: 28px;
}
.bskt-main__caption
{
    text-align: center;
}

.bskt-main__caption-text
{
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;

    display: block;
}
.bskt-icon_active {
  color: #e2001a !important;
  fill: #e2001a !important;
}

.bskt-btn-active,
.bskt-label-active {
  background-color: #e2001a !important;
  color: #fff !important;
}

.bskt-hidden {
  display: none !important;
}

.bskt-hover:hover {
  color: #666;
}
.bskt-link-dashed:after{
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 1px dashed #979797;
}
.bskt-link-dashed:hover{
  color: #666;
  cursor: pointer;
}
.bskt-link-dashed:hover:after{
  border-bottom: 1px dashed #666;
}
.bskt-text-with-dot{
  position: relative;
  padding-left: 15px;
}
.bskt-text-with-dot:before{
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  left: 0px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #e2001a;
}

.bskt-input-style{
  display: block;
  width: 100%;
  height: 36px;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 36px;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
  border: none;
  box-shadow: inset 0 0 0 1px #eee;
  border-radius: 3px;
  margin-top: 5px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}
.radio-choose:before{
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  border: 1px solid #ddd;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;

}
.bskt-delivery-page__radio-input:checked + .radio-choose:before{
  background-color: #fff;
  width: 18px;
  height: 18px;
  border: 5px solid #fff;
  box-shadow: inset 0px 0px 0px 5px #000, 0px 0px 0px 1px #ddd;
}
.bskt-delivery-page__radio-input:disabled + .radio-choose:before{
  background-color: #fff;
  width: 18px;
  height: 18px;
  border: 5px solid #fff;
  box-shadow: inset 0px 0px 0px 5px #999, 0px 0px 0px 1px #ddd;
}
.bskt-disabled  label,
.bskt-disabled  p,
.bskt-disabled  a,
.bskt-disabled  span{
  color: #999 !important;
  fill: #999 !important;
  cursor: default;
  pointer-events: none;
}
@media (max-width: 1440px) {}

@media (max-width: 1199px) {}

@media (max-width: 959px) {
  .container-block {
    width: 768px;
  }
}

@media (max-width: 767px) {
  .container-block {
    width: 640px;
  }
}

@media (max-width: 639px) {
   .container-block {
    width: 480px;
  }
}

@media (max-width: 479px) {
   .container-block {
    width: 100%;
  }
}