.cabinet-main__left-wrapper {
  width: 752px;
  margin: -10px;
}

.cabinet-main__item {
  float: left;
  width: 50%;
  height: 311px;
  padding: 10px;
  color: #000;
  font-size: 16px;
  line-height: 19px;
}
.cabinet-main__item-block{
  position: relative;
  padding: 20px 20px 60px 20px;
  background-color: #f5f5f5;
  height: 100%;
}

.cabinet-main__item-empty-text {
  margin-top: 20px;
}

.cabinet-main__item-caption {
  line-height: 22px;
}

.cabinet-main__item span, .cabinet-main__item p {
  display: block;
  line-height: 19px;
}

.cabinet-main__item-link_bottom {
  position: absolute;
  text-align: center;
  bottom: 20px;
  left: 0px;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: #808080;
  text-decoration: underline;
}

.cabinet-main__item-link_bottom-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  color: #808080;
  fill: #808080;
  width: 19px;
  height: 19px;
}

.cabinet-main__item-personal-data-icon {
  position: absolute;
  top: 10px;
  left: 0px;
  margin-top: -9px;
  width: 18px;
  height: 18px;
  color: #808080;
  fill: #808080;
}

.cabinet-main__item-personal-data-email {
  margin-top: 20px;
  position: relative;
  padding-left: 28px;
}

.cabinet-main__item-personal-data-email-name {
  float: left;
  display: table;
}

.cabinet-main__item-personal-data-email-url {
  float: left;
  display: table;
}

.cabinet-main__item-personal-data-phone {
  display: block;
  position: relative;
  padding-left: 28px;
  pointer-events: none;
  color: #000;
}

.cabinet-main__item-list {
  display: block;
  width: 100%;
}

.cabinet-main__item-list_item + .cabinet-main__item-list_item {
  margin-top: 10px;
}

.cabinet-main__item-list_item-left {
  float: left;
  font-size: 14px;
  line-height: 19px;
  color: #808080;
}

.cabinet-main__item-list_item-right {
  float: right;
  line-height: 19px;
}

.cabinet-main__item-order-info {
  margin-top: 20px;
}

.cabinet-main__item-order-num {
  float: left;
}

.cabinet-main__item-order-date {
  float: right;
}

.cabinet-main__item-mysubscription {
  padding-left: 27px;
  position: relative;
}

.cabinet-main__item-mysubscription-icon {
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -7px;
  width: 13px;
  height: 13px;
}

.cabinet-main__item-mypromo {
  margin-top: 20px;
}

@media (max-width: 959px) {
  .cabinet-main__left-wrapper {
    width: 560px;
  }
  .cabinet-main__item {
    height: 321px;
  }
}

@media (max-width: 767px) {
  .cabinet__block {
    margin: 0 -10px;
  }
  
  .cabinet-main__left-wrapper {
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
  }
  .cabinet__nav-mobile {
    margin: 0 10px;
  }
}

@media (max-width: 639px) {
  .cabinet-main__item {
    width: 100%;
    height: auto;
    padding: 10px 0px;
  }
   .cabinet__block {
    margin: 0px;
  }
  .cabinet__nav-mobile {
    margin: 0px;
  }
 
}

@media (max-width: 479px) {
  .cabinet__nav-mobile {
    margin: 0 -20px;
  }
}
