.bskt-empty{
	padding: 40px 0px;
}
.bskt-empty__icon-block{
	display: block;
	width: 83px;
	height: 61px;
	margin: 0 auto;
}
.bskt-empty__icon-caret{
	display: block;
	width: inherit;
	height: inherit;
	color: #aaa;
	fill: #aaa;
}
.bskt-empty__icon-text{
	display: block;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 16px;
	line-height: 20px;
}
.bskt-empty__info{
	padding: 10px 0px;
	border-top: 1px solid #eee;
}
.bskt-empty__info-text{
	display: block;
	text-align: center;
	font-size: 16px;
	line-height: 20px;
}
.bskt-empty__catalog{
	padding-top: 20px;
	border-top: 1px solid #eee;
}
.bskt-empty__catalog-text{
	display: block;
	text-align: center;
	font-size: 16px;
	line-height: 20px;
}
.bskt-empty__catalog-links{
	margin-top: 20px;
}
.bskt-empty__catalog-item{
	float: left;
	width: 33.33333333%;
	text-align: center;
}
.bskt-empty__catalog-link{
	display: inline-block;
	font-size: 22px;
	line-height: 25px;
	font-weight: bold;
	color: #e2001a;
	text-decoration: none;
}
.bskt-empty__catalog-link:hover{
	cursor: pointer;
	color: #ff2c2c
}
@media (max-width: 1440px) {}

@media (max-width: 1199px) {}

@media (max-width: 959px) {}

@media (max-width: 767px) {}

@media (max-width: 639px) {
	.bskt-empty__catalog-item {
	    width: 100%;
	}
	.bskt-empty__catalog-item +.bskt-empty__catalog-item{
	    margin-top: 20px;
	}
}

@media (max-width: 479px) {}

@media (max-width: 320px) {}