input.bskt-oder-page-block__field-item-input::-webkit-input-placeholder {
    color: #000;
}
.bskt-oder-page__wrapper{
  padding-top: 20px;
}
.bskt-oder-page-block{
  margin-top: 20px;
  padding-bottom: 10px;
}
.bskt-oder-page-block__caption{
  text-align: center;
}
.bskt-oder-page-block__caption-text{
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;

}
.bskt-oder-page-block__field{
  margin: 0 -10px;
  margin-top: 10px;
}
.bskt-oder-page-block__field-item{
  float: left;
  width: 50%;
  padding: 10px;
  position: relative;
}
.bskt-oder-page-block__field-item-caption{
  display: inline-block;
  padding-right: 10px;
  font-size: 14px;
  position: relative;
}
.bskt-oder-page-withStar:after{
  content: "*";
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 14px;
  color: #e2001a;
}
.bskt-oder-page-block__person{
  margin-top: 10px;
}
.bskt-oder-page-block__field-item-button{
  display: block;
  margin-top: 5px;
  width: 100%;
  height: 36px;
  border: none;
  border-radius: 3px;
  background-color: #999;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.bskt-oder-page-block__field-item-button:hover {
    box-shadow: inset 0 0 0 1px #ccc;
    background-color: #e0e0e0;
    color: #000;
}
.bskt-oder-page-block__field-item-input-telprefix{
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 16px;
  line-height: 36px;
  font-weight: bold;
}
.bskt-oder-page-block__field-item-tel{
  padding-left: 50px;
  font-weight: bold;
}
.bskt-oder-page-block__field-item-textarea {
  margin: 5px 0px 0px 0px;
  padding: 8px 10px 0px 10px;
  font-weight: normal;
  line-height: 20px;
  min-height: 36px;
  overflow: hidden;
  resize:vertical;
}

@media (max-width: 1440px) {}

@media (max-width: 1199px) {}

@media (max-width: 959px) {}

@media (max-width: 767px) {
  
  .bskt-oder-page-block__person .bskt-oder-page-block__field-item {
    width: 100%;;
  }
  .bskt-oder-page-block__field-item-textarea {
    min-height: 108px;
    resize: none;
  }
  .bskt-oder-page-block__field-person {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .bskt-oder-page-block__field-person .bskt-oder-page-block__field-item{
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    -o-order: 1;
    order: 1;
  }
  .bskt-oder-page-block__field-person .bskt-oder-page-block__field-item:nth-of-type(2n){
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
    -o-order: 2;
    order: 2;
  }
}

@media (max-width: 639px) {
  .bskt-oder-page-block__field-item-input-telprefix {
    left: 10px;
  }
  .bskt-oder-page-block__field {
    margin: 10px 0px 0px 0px;
  }
  .bskt-oder-page-block__field-item {
    width: 100%;
    padding: 10px 0px;
  }
  .bskt-oder-page-block__field-organization {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .bskt-oder-page-block__field-organization .bskt-oder-page-block__field-item:nth-of-type(1){
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    -o-order: 1;
    order: 1;
  }
  .bskt-oder-page-block__field-organization .bskt-oder-page-block__field-item:nth-of-type(2){
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    -o-order: 1;
    order: 1;
  }
  .bskt-oder-page-block__field-organization .bskt-oder-page-block__field-item:nth-of-type(3){
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    -o-order: 1;
    order: 1;
  }
  .bskt-oder-page-block__field-organization .bskt-oder-page-block__field-item:nth-of-type(4){
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
    -o-order: 2;
    order: 2;
  }
  .bskt-oder-page-block__field-organization .bskt-oder-page-block__field-item:nth-of-type(5){
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    -o-order: 1;
    order: 1;
  }
  .bskt-oder-page-block__field-organization .bskt-oder-page-block__field-item:nth-of-type(6){
     -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
    -o-order: 2;
    order: 2;
  }
}

@media (max-width: 479px) {}

@media (max-width: 320px) {}