.container-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
input.input-style{
	width: 50%;
	flex-grow: 1;
}
label.radio-label,
label.chbox-label{
	padding-left: 30px;
}
