@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf); }

@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf); }

@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto-Light.ttf); }

@font-face {
  font-family: Roboto-LightItalic;
  src: url(../fonts/Roboto-LightItalic.ttf); }

body, .select .reset,
.select .choice {
  font-family: Roboto-Regular; }

.container-delivery__title, .select #search, .select__city, .select__cityRegion, .select__cityArea, .select__villageCouncil, .select__Type {
  font-family: Roboto-Bold; }

body {
  min-width: 320px; }

/********************************/
.container-delivery {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: -50px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.3); }
  .container-delivery__block {
    margin-top: -50px;
    width: 50%;
    display: block;
    position: relative; }
    @media (max-width: 1170px) {
      .container-delivery__block {
        width: 70%; } }
    @media (max-width: 992px) {
      .container-delivery__block {
        width: 85%; } }
    @media (max-width: 768px) {
      .container-delivery__block {
        width: 95%; } }
  .container-delivery__title {
    width: 100%;
    background-color: #666;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 16px 0;
    font-size: 18px; }
  .container-delivery__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s;
    transform: rotate(45deg); }
    .container-delivery__close:before {
      content: '';
      position: absolute;
      width: 32px;
      height: 4px;
      background-color: #fff;
      top: 50%;
      margin-top: -2px;
      left: 50%;
      margin-left: -16px; }
    .container-delivery__close:after {
      content: '';
      position: absolute;
      height: 32px;
      width: 4px;
      background-color: #fff;
      top: 50%;
      margin-top: -16px;
      left: 50%;
      margin-left: -2px; }
    .container-delivery__close:hover {
      transform: rotate(135deg); }

.results {
  position: absolute;
  display: none;
  top: 85px;
  left: 35px;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  white-space: normal;
  background: #fff;
  margin-top: .5em;
  width: auto;
  border-radius: .28571429rem;
  -webkit-box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid #d4d4d5;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: background .1s ease,border-color .1s ease;
  transition: background .1s ease,border-color .1s ease;
  z-index: 999; }
  @media (max-width: 550px) {
    .results {
      left: 30px;
      top: 55px;
      width: auto;
      right: 30px;
      max-height: 200px; } }
  .results .message.empty {
    width: auto;
    padding: 5px 10px; }
  .results .category {
    display: table-row;
    background: #f3f4f5; }
  .results .name {
    display: table-cell;
    box-sizing: border-box;
    text-overflow: ellipsis;
    width: 30%;
    white-space: nowrap;
    background: 0 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(34, 36, 38, 0.1); }
    @media (max-width: 550px) {
      .results .name {
        font-size: 12px; } }
  .results .results {
    position: static;
    display: table-cell;
    background: #fff;
    border-left: 1px solid rgba(34, 36, 38, 0.15);
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
    max-height: auto; }
  .results .result {
    cursor: pointer;
    display: block;
    overflow: hidden;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.33;
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
    -webkit-transition: background .1s ease,border-color .1s ease;
    transition: background .1s ease,border-color .1s ease;
    padding: .85714286em 1.14285714em; }
    .results .result:hover {
      background-color: #f9fafb; }
    @media (max-width: 550px) {
      .results .result {
        font-size: 12px; } }

.select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 35px;
  width: 100%;
  background-color: #fff;
  position: relative;
  box-sizing: border-box; }
  @media (max-width: 550px) {
    .select {
      padding: 20px 30px;
      justify-content: center; } }
  .select #search {
    background-color: transparent;
    border: 2px solid #cdcdcd;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
    margin-bottom: 5px;
    height: 40px;
    width: 48%;
    box-sizing: border-box; }
    @media (max-width: 550px) {
      .select #search {
        width: 100%; } }
  .select__city, .select__cityRegion, .select__cityArea, .select__villageCouncil, .select__Type {
    background-color: #fff;
    color: #000;
    margin-bottom: 5px;
    border: 2px solid #cdcdcd;
    border-radius: 5px;
    height: 40px;
    padding-left: 5px;
    width: 48%; }
    @media (max-width: 550px) {
      .select__city, .select__cityRegion, .select__cityArea, .select__villageCouncil, .select__Type {
        width: 100%; } }
  .select .reset,
  .select .choice {
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 48%;
    border: none;
    font-size: 18px;
    letter-spacing: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer; }
    @media (max-width: 550px) {
      .select .reset,
      .select .choice {
        width: 100%; } }
  .select .reset {
    display: inline-block;
    color: #000;
    background-color: #ddd;
    transition: all 0.5s;
    position: relative;
    border: 2px solid #ddd;
    z-index: 999; }
    .select .reset:before {
      transition: all 0.8s;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      z-index: -1;
      background-color: transparent;
      border-radius: 7px; }
    .select .reset:hover:before {
      right: 0;
      width: 100%;
      left: auto;
      background-color: #fff; }
  .select .choice {
    display: inline-block;
    color: #fff;
    background-color: #e2001a;
    transition: all 0.5s;
    position: relative;
    border: 2px solid #e2001a;
    z-index: 999; }
    .select .choice:before {
      transition: all 0.8s;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 0;
      z-index: -1;
      background-color: transparent;
      border-radius: 7px; }
    .select .choice:hover {
      color: #e2001a; }
      .select .choice:hover:before {
        left: 0;
        width: 100%;
        right: auto;
        background-color: #fff; }
