body {
  background-color: #ccc;
  height: 2000px
}

body.touch select.cartitem-body-middle-countitem__select-block {
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  display: block !important;
  position: absolute !important;
  z-index: 2;
}

.container-block{
  padding: 0px;
}

.cartitem-text-bold {
  font-weight: bold;
}
.allClose{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99;
    display: none;
    -webkit-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
}
.allClose.open{
    display: block;
}

a.cartitem-link:hover {
  color: #666;
  cursor: pointer;
}
.cartitem-item-disabled{
  pointer-events: none;
  cursor: default;
}
.cartitem-item-disabled .cartitem-body-left-dopinfo__text{
  color: #999;
}

a.cartitem-link-withTriangle {
  display: inline-block;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  position: relative;
  padding-left: 10px;
  margin-top: 10px;
}

a.cartitem-link-withTriangle:before {
  content: '';
  display: block;
  border: 4px solid transparent;
  border-left: 5px solid #e2001a;
  position: absolute;
  top: 3px;
  left: 0px;
}
.cartitem-body-left-dopinfo__class-hover_left-smallpic{
  left: 246px;
}
.itemclass-smallpic-APP {
  top: 66px;
}

.itemclass-smallpic-AP {
  top: 92px;
}

.itemclass-smallpic-A {
  top: 119px;
}

.itemclass-smallpic-BP {
  top: 146px;
}

.itemclass-smallpic-B {
  top: 173px;
}

.itemclass-smallpic-CP {
  bottom: 93px;
}

.itemclass-smallpic-C {
  bottom: 66px;
}

.itemclass-smallpic-D {
  bottom: 39px;
}

.cartitem-body-left-dopinfo__es-class {
  position: absolute;
  display: block;
  width: 45px;
  left: 93px;
}

.cartitem-body-left-dopinfo__es-class_rainColumn {
  left: 182px;
}

.cartitem-body-left-dopinfo__es-classA_leftColumn,
.cartitem-body-left-dopinfo__es-classA_rightColumn {
  top: 130px;
}

.cartitem-body-left-dopinfo__es-classB_leftColumn,
.cartitem-body-left-dopinfo__es-classB_rightColumn {
  top: 147px;
}

.cartitem-body-left-dopinfo__es-classC_leftColumn,
.cartitem-body-left-dopinfo__es-classC_rightColumn {
  top: 164px;
}

.cartitem-body-left-dopinfo__es-classD_leftColumn,
.cartitem-body-left-dopinfo__es-classD_rightColumn {
  top: 181px;
}

.cartitem-body-left-dopinfo__es-classE_leftColumn,
.cartitem-body-left-dopinfo__es-classE_rightColumn {
  top: 198px;
}

.cartitem-body-left-dopinfo__es-classF_leftColumn,
.cartitem-body-left-dopinfo__es-classF_rightColumn {
  top: 215px;
}

.cartitem-body-left-dopinfo__es-classG_leftColumn,
.cartitem-body-left-dopinfo__es-classG_rightColumn {
  top: 232px;
}

.cartitem-hover-body{
  position: absolute;
  display: none;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  z-index: 100;
  text-align: left;
}
.cartitem-hover-body-icon-gray{
  display: none !important;
}

.cartitem-hover-body_close{
  background: none;
  border: none;
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
  width: 15px;
  height: 15px;
 }
.cartitem-hover-body_close-icon{
  width: inherit;
  height: inherit;
  display: block;
  color: #666;
  fill: #666;
}

.cartitem-hover-body_text {
  display: block;
  font-size: 12px;
  color: #000;
}

.cartitem-hover-body_text + .cartitem-hover-body_text {
  margin-top: 5px;
}

.cartitem {
  padding: 10px 0px;
}

.cartitem-body {
  padding: 15px 10px 0px 10px;
  background-color: #fff;
}

.cartitem-body-left {
  float: left;
  width: 41%;
  position: relative;
}

.cartitem-body-left-caption__producer-name {
  font-size: 32px;
  line-height: 24px;
  font-weight: bold;
  color: #000;
  display: inline-block;
  text-decoration: none;
}

.cartitem-body-left-caption__producer-sertif {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FF5000;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 28px;
  letter-spacing: 0.7px;
  margin-top: 7px;
}

.cartitem-body-left-caption__producer-sertif:hover {
  cursor: default;
}

.cartitem-body-left-caption__producer-sertif-icon {
  position: absolute;
  top: 0px;
  left: 7px;
  display: block;
  width: 19px;
  height: 23px;
}

.cartitem-body-left-caption__item-type {
  display: block;
  max-width: 335px;
  margin-top: 5px;
}

.cartitem-body-left-caption__item-type_name {
  font-size: 22px;
  color: #000;
  text-decoration: none;
}

.cartitem-body-left-caption__item-size {
  display: block;
  margin-top: 5px;
}

.cartitem-body-left-caption__item-size_value {
  display: inline-block;
  vertical-align: middle;
  font-size: 26px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.cartitem-body-left-caption__item-size_index {
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  box-shadow: inset 0px 0px 0px 1px #ccc;
  text-align: center;
  font-size: 20px;
  color: #000;
  padding: 3px 10px;
  margin-left: 10px;
  position: relative;
}

.cartitem-body-left-caption__item-size_index-hover {
  top: 40px;
  left: 0px;
  padding: 10px 20px;
  width: 230px;
}

.cartitem-body-left-caption__item-size_index:hover {
  cursor: pointer;
}

.cartitem-body-left-caption__item-size_index:hover .cartitem-body-left-caption__item-size_index-hover {
  display: block;
}

.cartitem-body-left-pic {
  display: block;
  padding-left: 60px;
  margin-top: 15px;
  position: relative;
}

.cartitem-body-left-pic__block-seasson {
  display: block;
  position: absolute;
  top: -10px;
  left: 3px;
}

.cartitem-body-left-pic__block-seasson-hover {
  width: 110px;
  top: 0px;
  left: 50px;
}

.cartitem-body-left-pic__block-seasson:hover {
  cursor: pointer;
}

.cartitem-body-left-pic__block-seasson:hover .cartitem-body-left-pic__block-seasson-hover {
  display: block;
}

.cartitem-body-left-pic__icon-seasson {
  width: 35px;
}

.cartitem-body-left-pic__icon-thornes {
  width: 40px;
}

.cartitem-body-left-pic__block-thornes {
  display: block;
  position: absolute;
  top: 45px;
  left: 0px;
  width: 40px;
  height: 37px;
}

.cartitem-body-left-pic__block-thornes-hover {
  width: 135px;
  top: 0px;
  left: 50px;
}

.cartitem-body-left-pic__block-thornes:hover {
  cursor: pointer;
}

.cartitem-body-left-pic__block-thornes:hover .cartitem-body-left-pic__block-thornes-hover {
  display: block;
}

.cartitem-body-left-pic__montag-free {
  display: block;
  position: absolute;
  bottom: 15px;
  left: -10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 10px;
  background-color: #E2001A;
}

.cartitem-body-left-pic__montag-free:hover {
  cursor: default;
}

.cartitem-body-left-pic__img-photo {
  width: 247px;
  display: block;
}

.cartitem-body-left-pic__link {
  display: block;
}

.cartitem-body-left-dopinfo {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.cartitem-body-left-dopinfo__item {
  list-style-type: none;
}

.cartitem-body-left-dopinfo__item:hover {
  cursor: pointer;
}

.cartitem-body-left-dopinfo__item + .cartitem-body-left-dopinfo__item {
  margin-top: 10px;
}

.cartitem-body-left-dopinfo__link {
  display: block;
  text-decoration: none;
}

.cartitem-body-left-dopinfo__icon {
  display: inline-block;
  vertical-align: middle;
  width: 41px;
  height: 41px;
}

.cartitem-body-left-dopinfo__text {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #000;
  margin-left: 10px;
}

.cartitem-body-left-dopinfo__class {
  position: relative;
}

.cartitem-body-left-dopinfo__class-hover {
  display: none;
  position: absolute;
  top: 0px;
  left: 50px;
  width: 760px;
}

.cartitem-body-left-dopinfo__class-hover_left {
  float: left;
  padding: 10px;
  width: 42%;
}

.cartitem-body-left-dopinfo__class-hover_left-pic {
  display: block;
  width: 285px;
  box-shadow: 0px 0px 0px 1px #ddd;
}

.cartitem-body-left-dopinfo__class-hover_left-smallpic {
  position: absolute;
  width: 55px;
  height: 25px;
}

.cartitem-body-left-dopinfo__class-hover_left-link-mobile {
  display: none !important;
}

.cartitem-body-left-dopinfo__class-hover_right {
  padding-left: 20px;
  float: left;
  width: 58%;
}

.cartitem-body-left-dopinfo__class-hover_right-text {
  font-size: 14px;
  color: #000;
}

.cartitem-body-left-dopinfo__class-hover_right-text:first-of-type {
  font-weight: 700;
  font-size: 20px;
}

.cartitem-body-left-dopinfo__class-hover_right-text + .cartitem-body-left-dopinfo__class-hover_right-text {
  margin-top: 20px;
}

.cartitem-body-left-dopinfo__class:hover .cartitem-body-left-dopinfo__class-hover {
  display: block;
}

.cartitem-body-left-dopinfo__es {
  position: relative;
}

.cartitem-body-left-dopinfo__es-hover {
  display: none;
  top: -75px;
  left: 45px;
}

.cartitem-body-left-dopinfo__es-hover_caption {
  font-weight: 700;
  font-size: 20px;
  display: block;
}

.cartitem-body-left-dopinfo__es-hover_pic {
  width: 220px;
  max-width: 220px;
  box-shadow: 0px 0px 0px 1px #ddd;
  margin-top: 10px;
  display: block;
}

.cartitem-body-left-dopinfo__es:hover .cartitem-body-left-dopinfo__es-hover {
  display: block;
}

.cartitem-body-left-dopinfo__es-noise {
  position: absolute;
  display: block;
  width: 28px;
  bottom: 72px;
  left: 115px;
}

.cartitem-body-left-dopinfo__es-noise_value {
  position: absolute;
  bottom: 85px;
  right: 40px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.cartitem-body-left-dopinfo__es-noise_value-db {
  font-size: 16px;
}

.cartitem-body-left-dopinfo__longterm {
  position: relative;
}

.cartitem-body-left-dopinfo__longterm:hover .cartitem-body-left-dopinfo__longterm-hover {
  display: block;
}

.cartitem-body-left-dopinfo__longterm-hover {
  width: 260px;
  top: 40px;
}

.cartitem-body-middle {
  float: left;
  width: 29%;
  padding-right: 30px;
  padding-left: 20px;
}

.cartitem-body-middle-priceitem {
  margin-top: 0px;
}

.cartitem-body-middle-priceitem__caption {
  font-size: 13px;
  display: inline-block;
  position: relative;
  padding:0px 25px 10px 0px;
  vertical-align: bottom;
}

.cartitem-body-middle-priceitem__caption-icon {
  position: absolute;
  display: inline-block;
  vertical-align: bottom;
  width: 18px;
  height: 18px;
  top: -2px;
  right: 0px;
}

.cartitem-body-middle-priceitem__value {
  display: block;
  font-family: 'Anton', sans-serif;
}

.cartitem-body-middle-priceitem__coins {
  display: inline-block;
  vertical-align: top;
}

.cartitem-body-middle-priceitem__rub {
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin-left: 3px;
}

.cartitem-body-middle-priceitem__mouseIn:hover {
  cursor: pointer;
}

.cartitem-body-middle-priceitem__mouseIn:hover .cartitem-body-middle-priceitem-hover {
  display: block;
}

.cartitem-body-middle-priceitem-hover {
  width: 280px;
  top: 25px;
  left: -100px;
}

.cartitem-body-middle-priceitem-hover-caption {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.cartitem-body-middle-priceitem-hover-link {
  margin-top: 5px;
  text-align: right;
}

.cartitem-body-middle-priceitem__priceWithoutSale {
    float: left;
    width: 42%;
    text-align: right;
    box-shadow: inset -1px 0px 0px 0px #dcdcdc;
    padding-right: 20px;
}

.cartitem-body-middle-priceitem__priceWithoutSale-value {
  vertical-align: top;
  font-size: 46px;
  line-height: 44px;
  font-weight: 400;
  color: #666;
  margin-top: 30px;
  text-align: left;
}

.cartitem-body-middle-priceitem__priceWithoutSale-value_coins {
  font-size: 28px;
  line-height: 28px;
  margin-left: 3px;
}

.cartitem-body-middle-priceitem__priceWithSale {
    text-align: right;
    float: left;
    width: 58%;
    padding-left: 36px;
}

.cartitem-body-middle-priceitem__priceWithSale-value {
  vertical-align: top;
  font-size: 62px;
  line-height: 58px;
  font-weight: 400;
  color: #e2001a;
  margin-top: 20px;
  text-align: left;
}

.cartitem-body-middle-priceitem__priceWithSale-value_coins {
  font-size: 38px;
  line-height: 36px;
  margin-left: 3px;
}

.cartitem-body-middle-countitem {
  margin-top: 15px;
}

.cartitem-body-middle-countitem:hover {
  cursor: default;
}

.cartitem-body-middle-countitem__value {
  display: inline-block;
  vertical-align: top;
}

.cartitem-body-middle-countitem__caption {
  display: block;
  color: #999;
  font-weight: 700;
  font-size: 14px;
  text-align: right;
}

.cartitem-body-middle-countitem__select {
  width: 113px;
  height: 55px;
  display: table;
  margin-top: 10px;
}

.cartitem-body-middle-countitem__select .js-select-visual {
  position: relative;
}

.cartitem-body-middle-countitem__select-block select.cartitem-body-middle-countitem__select-block {
  position: relative;
  display: none;
}

.cartitem-body-middle-countitem__select-block span.select-value {
  width: 113px;
  height: 55px;
  font-size: 22px;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  display: table;
  line-height: 55px;
  text-align: left;
  box-shadow: inset 0 0 0 1px #ccc;
  border-radius: 3px;
  position: relative;
  padding-left: 10px;
  padding-right: 30px;
}

.cartitem-body-middle-countitem__select-block span.select-value:hover {
  cursor: pointer;
}

.cartitem-body-middle-countitem__select-block span.select-value:after {
  position: absolute;
  content: '';
  top: 50%;
  right: 8px;
  margin-top: -5px;
  transition: 0.3s;
  background-image: url(../img/arrow_666666_down.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 18px;
  height: 11px;
}

.cartitem-body-middle-countitem__select ul.select-list {
  right: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  display: none;
  width: 113px;
  box-shadow: inset 0 0 0 1px #ccc;
  list-style: none;
  background-color: #fff;
  padding: 5px 0px;
}

.cartitem-body-middle-countitem__select ul.select-list li {
  padding: 0 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.cartitem-body-middle-countitem__select ul.select-list li:hover {
  color: #fff;
  background-color: red;
  cursor: pointer;
}

.cartitem-body-middle-countitem__select ul.select-list li.active {
  background-color: red;
  color: #fff;
}

.cartitem-body-middle-countitem__select .js-select-visual.open .select-list {
  display: block;
}

.cartitem-body-middle-countitem__select-block.open .select-value:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.cartitem-body-middle-countitem__btn {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  margin-left: 8px;
}

.cartitem-body-middle-countitem__btn-caption-bold {
  color: #000;
}

.cartitem-body-middle-countitem__btn-buy {
  display: block;
  border: none;
  height: 55px;
  line-height: 55px;
  background-color: #f70a25;
  width: 195px;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 4px;
  margin-top: 10px;
}

.cartitem-body-middle-countitem__btn-buy:hover {
  cursor: pointer;
  background-color: #d20018;
}

.cartitem-body-middle-countitem__total {
  text-align: right;
  margin-top: 15px;
}

.cartitem-body-middle-countitem__total-text {
  display: inline-block;
  vertical-align: bottom;
  font-size: 14px;
  color: #999;
}

.cartitem-body-middle-countitem__total-price {
  display: inline-block;
  vertical-align: bottom;
  margin-top: 0;
  font-size: 24px;
  line-height: 24px;
  color: #999;
}

.cartitem-body-middle-countitem__total-coins {
  font-size: 16px;
  line-height: 16px;
}

.cartitem-body-middle-countitem__total-rub {
  font-size: 14px;
  line-height: 14px;
}

.cartitem-body-right {
  float: left;
  width: 30%;
}

.cartitem-body-right:hover {
  cursor: default;
}

.cartitem-body-right-desc {
  overflow: hidden;
}

.cartitem-body-right-desc_mobile {
  display: none;
}

.cartitem-body-right-desc__caption {
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-size: 13px;
}

.cartitem-body-right-desc__body {
  margin-top: 15px;
}

.cartitem-body-right-desc__item {
  list-style-type: none;
  display: block;
  position: relative;
}


.cartitem-body-right-desc__item-left {
  float: left;
  font-size: 12px;
  display: block;
  position: relative;
  padding-right: 3px;
}
.cartitem-body-right-desc__item-left:before {
  content: '........................................................................................................................................................';
  display: block;
  position: absolute;
  bottom: 0px;
  left: 100%;
  font-weight: 400;
  letter-spacing: 3px;
  color: #999;
}


.cartitem-body-right-desc__item-right {
  float: right;
  font-size: 12px;
  font-weight: bold;
  display: block;
  background-color: #fff;
  position: relative;
  padding-left: 3px;
}

.cartitem-body-right-options__body {
  margin-top: 10px;
}

.cartitem-body-right-options__item {
  float: left;
  width: 50%;
  padding: 5px 0px;
  list-style-type: none;
}

.cartitem-body-right-options__icon {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 30px;
  fill: green;
  color: green;
  margin-right: 3px;
}

.cartitem-body-right-options__link {
  display: block;
  vertical-align: middle;
  font-size: 12px;
  text-decoration: none;
  color: #000;
}
.cartitem-marketing-block{
  display: none;
}
.cartitem-marketing-block-list{
  margin: 0px;
  background-color: #fff;
  padding: 0px 10px;
}
.cartitem-marketing-block-list__item{
  width: 25%;
}
.cartitem-filter-field{
  background-color: #666;
  padding: 10px 0px;
}
.cartitem-filter-block{
  display: table;
  width: 100%;
}
.cartitem-filter-block__left{
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}
.cartitem-filter-block__item-type{
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.cartitem-filter-block__search{
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin-left: 55px;
  position: relative;
  color: #b2b2b2;
}
.cartitem-filter-block__search:before{
  content: "";
  display: block;
  width: 1px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  left: -27px;
  top: -6px;
}
.cartitem-filter-block__search-value,
.cartitem-filter-block__search-size{
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.cartitem-filter-block__right{
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}

.cartitem-filter-block__cheaper,
.cartitem-filter-block__expensive{
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  width: 154px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  color: #b2b2b2;
}
.cartitem-filter-block__cheaper:hover,
.cartitem-filter-block__expensive:hover{
  color: #fff;
  background-color: #7f7f7f;
  cursor: pointer;
}
.cartitem-filter-active{
  background-color: #dddddd;
  color: #000;
}
.cartitem-filter-active:hover{
  cursor: default;
  background-color: #dddddd;
  color: #000;
}

@media (max-width: 1440px) {
  .cartitem-body-left {
    width: 44%;
  }
  .cartitem-body-left-dopinfo {
    right: 0px;
  }
  .cartitem-body-middle {
    padding-right: 15px;
    padding-left: 15px;
  }
  .cartitem-body-middle-countitem__btn-buy {
    width: 175px;
  }
  .cartitem-body-right {
    width: 27%;
  }
  .cartitem-body-right-options__link {
    font-size: 11px;
  }
  .cartitem-body-right-options__icon {
    width: 35px;
    margin-right: 3px;
  }
  .cartitem-filter-block {
    padding: 0px 10px;
  }
}

@media (max-width: 1199px) {
  .cartitem-hover-body {
    padding: 10px;
  }
  .item-hover-off:hover .cartitem-hover-body{
    display: none;
  }
  .cartitem-body-left-dopinfo {
    right: 55px;
  }
  .cartitem-body-left-dopinfo__text {
    font-size: 11px;
  }
  .cartitem-body-left {
    width: 65%;
  }
  .cartitem-body-middle {
    width: 35%;
  }
  .cartitem-body-right {
    display: none;
  }
  .cartitem-body-right-desc_mobile {
    display: block;
    width: 100%;
  }
  .cartitem-body-right-desc_mobile .cartitem-body-right-desc__body {
    margin-top: 0;
  }
  .cartitem-body-middle-priceitem {
    margin-top: 20px;
  }
  .cartitem-body-middle {
    padding-right: 0px;
    padding-left: 0px;
  }
  .cartitem-body-middle-priceitem__priceWithoutSale-value {
    font-size: 36px;
    line-height: 36px;
    margin-top: 15px;
    text-align: right;
  }
  .cartitem-body-middle-priceitem__priceWithoutSale-value_coins {
    font-size: 22px;
    line-height: 24px;
  }
  .cartitem-body-middle-priceitem__priceWithSale-value {
    font-size: 46px;
    line-height: 46px;
    margin-top: 5px;
    text-align: right;
  }
  .cartitem-body-middle-priceitem__priceWithSale-value_coins {
    font-size: 28px;
    line-height: 28px;
  }
  .cartitem-body-middle-priceitem__rub {
    font-size: 16px;
    line-height: 16px;
  }
  .cartitem-body-middle-countitem {
    margin-top: 5px;
  }
  .cartitem-body-middle-countitem__total {
    margin-top: 5px;
  }
  .cartitem-body-middle-countitem__total-text {
    font-size: 12px;
  }
  .cartitem-body-middle-countitem__total-price {
    font-size: 16px;
    line-height: 16px;
    margin-top: 0px;
  }
  .cartitem-body-middle-countitem__total-coins {
    font-size: 10px;
    line-height: 10px;
  }
  .cartitem-body-middle-countitem__total-rub {
    font-size: 12px;
    line-height: 12px;
  }
  .cartitem-body-middle-countitem__select {
    margin-top: 2px;
    height: 41px;
  }
  .cartitem-body-middle-countitem__select-block span.select-value {
    height: 41px;
    line-height: 41px;
  }
  .cartitem-body-middle-countitem__btn-buy {
    line-height: 41px;
    height: 41px;
    margin-top: 2px;
    width: 189px;
  }
  .cartitem-body-middle-countitem__btn {
    margin-left: 23px;
  }
  .cartitem-body-left-dopinfo__class-hover {
    width: auto;
  }
  .cartitem-body-left-dopinfo__class-hover_right {
    display: none;
  }
  .cartitem-body-left-dopinfo__class-hover_left {
    width: 100%;
    padding: 0px;
  }
  .cartitem-body-left-dopinfo__class-hover_left-link-mobile {
    display: inline-block !important;
  }
  .cartitem-body-middle-priceitem-hover {
    top: 20px;
    left: -160px;
  }
  .cartitem-body-left-dopinfo__class-hover_left-pic {
    width: 250px;
  }
  .cartitem-body-left-dopinfo__class-hover_left-smallpic {
    width: 50px;
  }
  .cartitem-body-left-dopinfo__class-hover_left-smallpic {
    left: 200px;
  }
  .itemclass-smallpic-APP {
    top: 48px;
  } 
  .itemclass-smallpic-AP {
    top: 71px;
  }
  .itemclass-smallpic-A {
    top: 95px;
  }
  .itemclass-smallpic-BP {
    top: 118px;
  }
  .itemclass-smallpic-B {
    top: 142px;
  }
  .itemclass-smallpic-CP {
    top: 166px;
  }
  .itemclass-smallpic-C {
    top: 189px;
  }
  .itemclass-smallpic-D {
    top: 213px;
  }
  .cartitem-body-left-dopinfo__es-hover_pic {
    width: 180px;
  }
  .cartitem-body-left-dopinfo__es-class {
    width: 30px;
  }
  .cartitem-body-left-dopinfo__es-class {
    left: 77px;
  }
  .cartitem-body-left-dopinfo__es-class_rainColumn {
    left: 150px;
  }
  .cartitem-body-left-dopinfo__es-classA_leftColumn, .cartitem-body-left-dopinfo__es-classA_rightColumn {
    top: 116px;
  }
  .cartitem-body-left-dopinfo__es-classB_leftColumn, .cartitem-body-left-dopinfo__es-classB_rightColumn {
    top: 130px;
  }
  .cartitem-body-left-dopinfo__es-classC_leftColumn, .cartitem-body-left-dopinfo__es-classC_rightColumn {
    top: 143px;
  }
  .cartitem-body-left-dopinfo__es-classD_leftColumn, .cartitem-body-left-dopinfo__es-classD_rightColumn {
    top: 157px;
  }
  .cartitem-body-left-dopinfo__es-classE_leftColumn, .cartitem-body-left-dopinfo__es-classE_rightColumn {
    top: 171px;
  }
  .cartitem-body-left-dopinfo__es-classF_leftColumn, .cartitem-body-left-dopinfo__es-classF_rightColumn {
    top: 185px;
  }
  .cartitem-body-left-dopinfo__es-classG_leftColumn, .cartitem-body-left-dopinfo__es-classG_rightColumn {
    top: 199px;
  }
  .cartitem-body-left-dopinfo__es-noise_value {
    bottom: 74px;
    right: 24px;
    font-size: 18px;
  }
  .cartitem-body-left-dopinfo__es-noise_value-db {
    font-size: 14px;
  }
  .cartitem-body-left-dopinfo__es-noise {
    width: 20px;
    bottom: 68px;
    left: 90px;
  }
  .cartitem-marketing-block{
    display: block;
  }
}

@media (max-width: 959px) {
  .cartitem-body-left {
    width: 55%;
  }
  .cartitem-body-middle {
    width: 45%;
  }
  .cartitem-body-left-pic {
    padding-left: 45px;
  }
  .cartitem-body-left-caption__producer-name {
    font-size: 20px;
    line-height: 20px;
  }
  .cartitem-body-left-caption__item-type_name {
    font-size: 14px;
  }
  .cartitem-body-left-caption__item-size_value {
    font-size: 16px;
  }
  .cartitem-body-left-caption__item-size_index {
    font-size: 16px;
  }
  .cartitem-body-left-dopinfo__text {
    display: none;
  }
  .cartitem-body-left-caption__producer-sertif {
    font-size: 12px;
    width: 190px;
    margin-top: 0;
  }
  .cartitem-body-left-wrapper {
    display: inline-block;
    vertical-align: top;
  }
  .cartitem-body-left-dopinfo {
    position: relative;
    right: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
  }
  .cartitem-body-middle-countitem__caption {
    font-size: 12px;
  }
  .cartitem-body-left-caption__item-size_index-hover {
    top: 30px;
  }
  .cartitem-filter-block__left {
    display: table-row;
    text-align: center;
  }
  .cartitem-filter-block__right {
    display: table-row;
    text-align: center;
  }
  .cartitem-filter-block__cheaper,
  .cartitem-filter-block__expensive {
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  .container-block {
    width: 100%;
  }
  .cartitem-body-left {
    width: 55%;
  }
  .cartitem-body-middle {
    width: 45%;
  }
  .cartitem-body-left-pic__montag-free {
    bottom: 10px;
    font-size: 12px;
  }
  .cartitem-body-left-caption__producer-sertif {
    font-size: 10px;
    letter-spacing: normal;
    width: 150px;
  }
  .cartitem-body-left-pic__img-photo {
    width: 215px;
  }
  .cartitem-body-left-dopinfo {
    margin-left: 0px;
  }
  .cartitem-body-left-dopinfo__icon {
    width: 39px;
    height: 39px;
  }
  .cartitem-body-left-caption__item-type {
    max-width: 210px;
  }
 
  .cartitem-body-middle-priceitem__caption {
    font-size: 11px;
  }
  .cartitem-body-middle-countitem__select {
    width: 100%;
    height: 36px;
  }
  .cartitem-body-middle-countitem__select-block span.select-value {
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding-right: 20px;
    font-size: 20px;
  }
  .cartitem-body-middle-countitem__btn {
    margin-left: 0px;
    float: left;
    width: 58%;
  }
  .cartitem-body-middle-countitem__value {
    float: left;
    width: 42%;
    padding-right: 20px;
  }
  .cartitem-body-middle-countitem__btn-buy {
    width: 100%;
    line-height: 36px;
    height: 36px;
    font-size: 20px;
  }
  .cartitem-body-middle-priceitem__priceWithSale-value {
    font-size: 40px;
    line-height: 40px;
  }
  .cartitem-body-middle-priceitem__priceWithoutSale-value_coins {
    font-size: 20px;
    line-height: 22px;
  }
  .cartitem-body-middle-priceitem__priceWithoutSale-value {
    font-size: 32px;
    line-height: 32px;
  }
  .cartitem-body-middle-priceitem__priceWithSale-value_coins {
    font-size: 24px;
    line-height: 26px;
  }
  .cartitem-body-middle-countitem__total-price {
    font-size: 16px;
    line-height: 16px;
  }
  .cartitem-body-middle-countitem__select-block span.select-value:after {
    top: 50%;
    right: 7px;
    width: 16px;
    height: 9px;
  }
  .cartitem-body-middle-priceitem {
    margin-top: 10px;
  }
  .cartitem-body-left-pic__block-seasson {
    left: 5px;
  }
  .cartitem-body-left-pic__icon-seasson {
    width: 30px;
  }
  .cartitem-body-left-pic__block-thornes {
    top: 40px;
    left: 3px;
  }
  .cartitem-body-left-pic__icon-thornes {
    width: 35px;
  }
  
  .cartitem-body-left-dopinfo__class-hover {
    width: 280px;
    left: 45px;
  }
  .cartitem-body-left-dopinfo__class-hover_left-pic {
    width: 100%;
  }
  .cartitem-body-left-dopinfo__class-hover_left {
    padding: 0px;
  }
  .cartitem-hover-body {
    padding: 10px;
  }
  .cartitem-body-left-dopinfo__class-hover_left-smallpic {
    width: 53px;
  }
  .cartitem-body-left-dopinfo__class-hover_left-smallpic {
    left: 204px;
  }
  .itemclass-smallpic-APP {
    top: 50px;
  }
  .itemclass-smallpic-AP {
    top: 75px;
  }
  .itemclass-smallpic-A {
    top: 100px;
  }
  .itemclass-smallpic-BP {
    top: 124px;
  }
  .itemclass-smallpic-B {
    top: 149px;
  }
  .itemclass-smallpic-CP {
    top: 173px;
  }
  .itemclass-smallpic-C {
    top: 198px;
  }
  .itemclass-smallpic-D {
    top: 222px;
  }
  .cartitem-body-left-caption__item-size_index-hover {
    top: 30px;
  }
  .cartitem-body-left-dopinfo__es-hover {
    top: -60px;
  }
  .cartitem-marketing-block-list__item {
    padding: 5px;
  }
  .cartitem-marketing-block-list__text {
    position: relative;
    padding-left: 40px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    min-height: 30px;
  }
  .cartitem-marketing-block-list__icon {
    position: absolute;
    left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 639px) {
  .cartitem-body-left-caption__producer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .cartitem-body-left-caption__producer-sertif {
    width: auto;
    padding-right: 5px;
  }
  a.cartitem-link-withTriangle {
    margin-top: 5px;
  }
  .container-block {
    width: 100%;
  }
  .cartitem-body {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  .cartitem-body-left {
    width: auto;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }
  .cartitem-body-middle {
    width: auto;
    flex-grow: 1;
    margin-top: 10px;
  }
  .cartitem-body-left-wrapper {
    flex-grow: 1;
  }
  .cartitem-body-left-pic {
    padding-left: 35px;
  }
  .cartitem-body-left-pic__img-photo {
    width: 100%;
  }
  .cartitem-body-middle-priceitem {
    text-align: center;
  }
  .cartitem-body-middle-countitem {
    text-align: center;
  }
  .cartitem-body-left-pic__img {
    height: 150px;
    overflow: hidden;
  }
  .cartitem-body-middle-priceitem__caption-icon {
    width: 15px;
    height: 15px;
    top: -2px;
  }
  .cartitem-body-left-dopinfo__longterm-hover {
    width: auto;
    top: -10px;
    left: -245px;
  }
  .cartitem-hover-body {
    padding:10px;
  }
  .cartitem-body-left-caption__item-size_index-hover {
    width: 210px;
  }
  .cartitem-body-left-dopinfo__class-hover {
    width: 250px;
    left: -255px;
  }
  .cartitem-body-left-dopinfo__class-hover_left-smallpic {
    width: 46px;
  }
  .cartitem-body-left-dopinfo__class-hover_left-smallpic{
    left: 182px;
  }
  .itemclass-smallpic-APP {
    top: 44px;
  }
  .itemclass-smallpic-AP {
    top: 66px;
  }
  .itemclass-smallpic-A {
    top: 88px;
  }
  .itemclass-smallpic-BP {
    top: 109px;
  }
  .itemclass-smallpic-B {
    top: 131px;
  }
  .itemclass-smallpic-CP {
    top: 153px;
  }
  .itemclass-smallpic-C {
    top: 175px;
  }
  .itemclass-smallpic-D{
    top: 196px;
  }
  .cartitem-body-left-dopinfo__es-hover {
    top: -50px;
    left: -205px;
  }
  .cartitem-body-left-dopinfo__es-noise {
    bottom: 63px;
  }
  .cartitem-body-left-dopinfo__es-noise_value {
    bottom: 69px;
  }
  .cartitem-body-middle-priceitem-hover-caption {
    font-size: 12px;
  }
  .cartitem-body-middle-priceitem-hover{
    width: 250px;
  }
  .cartitem-body-middle-priceitem-hover__withSale {
    top: 20px;
    left: -140px;
  } 
  .cartitem-body-middle-priceitem-hover__withoutSale{
    top: 20px;
    left: -20px;
  }
  .cartitem-body-middle-priceitem__priceWithoutSale {
    width: 50%;
  }
  .cartitem-body-middle-priceitem__priceWithSale {
    width: 50%;
  }
  .cartitem-body-middle-countitem__value {
    width: 50%;
  }
  .cartitem-body-middle-countitem__btn {
    width: 50%;
  }
  .cartitem-body-left-pic__block-seasson-hover {
    width: 95px;
  }
  .cartitem-body-left-pic__block-thornes-hover {
    width: 115px;
  }
  .cartitem-body-left-dopinfo__es-hover_caption {
    font-size: 18px;
  }
  .cartitem-body-left-pic__montag-free {
    left: 0px;
  }
  .cartitem-filter-block {
    padding: 0px;
  }
  .cartitem-filter-block__item-type {
    display: block;
  }
  .cartitem-filter-block__search {
    display: block;
    max-width: 250px;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .cartitem-filter-block__search:before {
    display: none;
  }
  .cartitem-filter-block__cheaper,
  .cartitem-filter-block__expensive {
    margin-top: 20px;
    margin-left: 0px;
  }
}

@media (max-width: 479px) {
  .cartitem-hover-body_close{
    display: block;
  }
  .cartitem-body-left-caption__item-size_index-hover {
    top: 30px;
    left: -80px;
  }
  .cartitem-body-left-pic__img {
    height: auto;
  }
  .cartitem-body-left-pic__montag-free {
    bottom: 10px;
  }
  .cartitem-body-left-pic__block-seasson {
    left: 3px;
  }
  .cartitem-body-left-pic__block-seasson-hover {
    left: 35px;
  }
  img.cartitem-body-left-pic__icon-seasson {
    width: 25px;
  }
  .cartitem-body-left-pic__block-thornes {
    top: 30px;
  }
  .cartitem-body-left-pic__block-thornes-hover {
    top: -15px;
    left: 35px;
  }
  img.cartitem-body-left-pic__icon-thornes {
    width: 30px;
  }
  .cartitem-body-middle-countitem__value {
    float: left;
    width: 42%;
    padding-right: 20px;
  }
  .cartitem-body-middle-countitem__btn {
    margin-left: 0px;
    float: left;
    width: 58%;
  }
  .cartitem-body-middle-countitem__btn-buy {
    width: 100%;
  }
    .cartitem-body-middle-priceitem__priceWithoutSale {
    width: 42%;
    max-width: 42%;
    float: left;
  }
  .cartitem-body-middle-priceitem__priceWithSale {
    width: 58%;
    max-width: 58%;
    float: left;
    padding-left: 0px;
  }
  .cartitem-body-middle-countitem__select {
    width: 100%;
  }
  .cartitem-body-middle-countitem__select-block span.select-value {
    width: 100%;
  }
  .cartitem-marketing-block-list__item {
    padding: 5px 0px;
    width: 50%;
  }
  .cartitem-marketing-block-list__text {
    padding-left: 36px;
  }
  .cartitem-marketing-block-list__icon {
    width: 33px;
    height: 28px;
  }
}
