
.results {
  position: absolute;
  display: none;
  top: calc(100% - 5px);
  left: 10px;
  max-height: 145px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
  white-space: normal;
  background: #fff;
  margin-top: .5em;
  width: calc(50% - 20px);
  border: 2px solid #d4d4d5;
  z-index: 999;
  -webkit-box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15); }
  .results::-webkit-scrollbar {
    width: 3px; }
  .results::-webkit-scrollbar-thumb {
    background-color: #e2001a; }
  .results .message.empty {
    width: auto;
    padding: 5px 10px; }
  .results .category {
    display: table-row;
    background: #f3f4f5; }
  .results .name {
    display: table-cell;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 30%;
    white-space: nowrap;
    background: 0 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #aaa; }
    @media (max-width: 550px) {
      .results .name {
        font-size: 12px; } }
  .results .results {
    position: static;
    display: table-cell;
    background: #fff;
    border-left: 1px solid rgba(34, 36, 38, 0.15);
    border-bottom: 1px solid #aaa;
    max-height: auto;
    border-top: none; }
  .results .result {
    cursor: pointer;
    display: block;
    overflow: hidden;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.1;
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
    -webkit-transition: background .1s ease,border-color .1s ease;
    -o-transition: background .1s ease,border-color .1s ease;
    transition: background .1s ease,border-color .1s ease;
    padding: 5px 10px; }
    .results .result:hover {
      background-color: #f9fafb; }
    @media (max-width: 550px) {
      .results .result {
        font-size: 12px; } }

.search{
  position: relative;
}
.select-list{
  max-height: 250px;
  overflow-y: auto;
}

@media (max-width: 960px){
  .results{
    top: 40px;
  }
}

@media (max-width: 768px){
  .results{
    width: auto;
  }
}

@media (max-width: 640px){
  .results{
    width: calc(100% - 20px);
  }
}