.cab-mysubscriptions-filter_label-text {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  padding-left: 39px;
  position: relative;
}

.cab-mysubscriptions-filter_label-text:hover {
  cursor: pointer;
}

.cab-mysubscriptions-filter_label-text:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  background-image: url(../../img/cb_unchecked.svg);
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.cab-mysubscriptions-filter_checkbox {
  display: none;
}

.cab-mysubscriptions-filter_checkbox:checked + .cab-mysubscriptions-filter_label-text:before {
  background-image: url(../../img/cb_checked_all.svg);
}

.cab-mysubscriptions-filter-dropdown.open .cab-mysubscriptions-filter-dropdown-body {
  display: block;
}

.cab-mysubscriptions-filter-dropdown-body {
  display: block;
}

.cab-mysubscriptions-filter-dropdown-body__header {
  padding: 20px;
  background-color: #eee;
  max-height: 59px;
}

.cab-mysubscriptions-filter-dropdown-body__header-choise-all .cab-mysubscriptions-filter_label.decor .cab-mysubscriptions-filter_label-text:before {
  background-image: url(../../img/cb_checked_some.svg);
}

.cab-mysubscriptions-filter-dropdown-body__main {
  min-height: 321px;
  background-color: #f5f5f5;
  padding: 20px;
}

.cab-mysubscriptions-filter-dropdown-body__main ul {
  padding-left: 40px;
}

.cab-mysubscriptions-filter-dropdown-body__main ul li + li {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .cab-mysubscriptions-filter-dropdown-body__main {
      min-height: 159px;
}

@media (max-width: 639px) {}

@media (max-width: 479px) {}

@media (max-width: 320px) {}
