.cabinet-myadress__item {
  padding-bottom: 20px;
  border-bottom: 1px dashed #adadad;
  margin-bottom: 20px;
 
}

.cabinet-myadress__item-value-city {
  display: table;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.cabinet-myadress__item-value-street {
  display: table;
  margin-top: 10px;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.cabinet-myadress__item-buttons {
  margin-top: 20px;
}

.cabinet-myadress__item-buttons label {
  float: left;
}

.cabinet-myadress__item-buttons-wrapper {
  float: right;
}

.cabinet-myadress__item-buttons-item + .cabinet-myadress__item-buttons-item {
  margin-left: 30px;
}

.cabinet-myadress__city-change {
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.cabinet-myadress__city-change-value {
  font-size: 16px;
  line-height: 19px;
  margin-left: 20px;
}

.cabinet-myadress__add-adress {
  display: none;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #adadad;
}


.cabinet-myadress__add-adress-form {
  margin-top: 20px;
}

.cabinet-myadress__add-adress-form .myselect_wrapper {
  margin-top: 4px;
  width: 100%;
}

.cabinet-myadress__add-adress-form label {
  margin-top: 20px;
}

.cabinet-myadress__add-adress-form input {
  width: 100%;
  margin-top: 4px;
}

.cabinet-myadress__add-adress-home {
  margin: 0 -10px;
  margin-top: 20px;
}

.cabinet-myadress__add-adress-home-item {
  float: left;
  padding: 0px 10px;
  width: 33.3333333333333%;
}

.cabinet-myadress__add-adress-save {
  margin-top: 20px;
}

.cabinet-myadress__add-adress-btn {
  text-align: center;
}

@media (max-width: 639px) {
  .cabinet-myadress {
    width: 360px;
    margin: 0 auto;
  }
  .cabinet-myadress__item-buttons label {
    float: none;
    display: table;
    margin: 0 auto;
  }
  .cabinet-myadress__item-buttons-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 479px) {
  .cabinet-myadress {
    width: 100%;
  }
  .cabinet-myadress__city-change-text {
    display: block;
    margin-bottom: 5px;
  }
  .cabinet-myadress__city-change-value {
    margin-left: 0px;
  }
}
