.section-info__btn{
  border: none;
  background: none;
  color: #0072ff;
  font-size: 16px;
  line-height: 30px;
  padding: 0px 25px 0px 0px;
  position: relative;
  display: none;
}
.section-info__btn:before{
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  right: 6px;
  width: 6px;
  height: 6px;
  border-bottom: 1px solid #0072ff;
  border-right: 1px solid #0072ff;
  transform: rotate(45deg);
}
.section-info__btn.open:before{
  transform: rotate(-135deg);
  top: 15px;
}








.columns_2 {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  text-align: justify;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px; 
}
.columns_2 p{
  font-size: 16px;
  line-height: 24px;
}
.columns_2 p + p{
  margin-top: 20px;
}
.columns_2 a {
  color: #e2001a;
  border-bottom: 1px solid;
}
@media (max-width: 1440px) {}

@media (max-width: 1199px) {}

@media (max-width: 959px) {}

@media (max-width: 767px) {
  .hidden-xs{
    display: none;
  }
  .columns_2 {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
  }
  .section-info__btn{
    display: table;
  }
}

@media (max-width: 639px) {}

@media (max-width: 479px) {}

@media (max-width: 320px) {}