.container-fluid {
  width: 100%; }

.page-tests__tire-tests__title {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0; }
.clear{
  clear: both;
}

.page-tests__newest-tests {
  margin-bottom: 30px; }
  .page-tests__newest-tests .title {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    margin: 16px 0; }
  .page-tests__newest-tests .description {
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding: 15px 20px 15px; }
  .page-tests__newest-tests .information-block {
    width: 32%;
    text-align: center;
    -webkit-box-shadow: 0px 5px 40px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 40px -8px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
    float: left;
    margin-left: 0.66%;
    margin-right: 0.66%;
  }
    .page-tests__newest-tests .information-block p {
      height: 90px;
      overflow: hidden;
      margin-top: 20px;
      font-family: Roboto;
      font-size: 16px;
      color: #000000;
      padding-left: 20px;
      padding-right: 20px; }
    .page-tests__newest-tests .information-block a {
      display: inline-block;
      position: relative;
      padding-left: 18px;
      font-family: Roboto;
      font-size: 16px;
      color: #808080;
      margin-top: 20px;
      margin-bottom: 20px;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .page-tests__newest-tests .information-block a:hover {
        color: #000; }
      .page-tests__newest-tests .information-block a:before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 6px;
        margin-right: 5px;
        border: 5px solid transparent;
        border-right: none;
        border-left-color: #e2001a; }
    .page-tests__newest-tests .information-block__img {
      width: 100%;
      background-position: 50% 50%;
      -webkit-background-size: cover;
      background-size: cover;
      position: relative;
      text-align: center; }
      .page-tests__newest-tests .information-block__img img {
        max-width: 23%;
        margin: 5px;
        display: inline-block; }
      .page-tests__newest-tests .information-block__img_logos {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        background-color: rgba(255, 255, 255, 0.6);
        height: auto; }
    .page-tests__newest-tests .information-block__description {
      width: 100%;
      padding: 0 20px; }
      .page-tests__newest-tests .information-block__description table {
        border-spacing: 0;
        width: 100%; }
        .page-tests__newest-tests .information-block__description table tr td {
          -webkit-box-sizing: border-box;
          box-sizing: border-box; }
        .page-tests__newest-tests .information-block__description table tr td:first-child {
          font-family: Roboto;
          font-size: 18px;
          color: #808080; }
        .page-tests__newest-tests .information-block__description table tr td:last-child {
          font-family: Roboto;
          font-size: 18px;
          font-weight: bold;
          color: #000000; }
        .page-tests__newest-tests .information-block__description table tr:last-child td {
          border-bottom: none; }
        .page-tests__newest-tests .information-block__description table td {
          border-bottom: dashed 1px #dddddd;
          padding: 10px 0; }

@media (max-width: 1199px) {
  .page-tests__newest-tests .information-block {
    width: 49%;
    margin-left: 0.5%;
    margin-right: 0.5%; 
    } 
  }

@media (max-width: 959px) {
  .test1 .page-tests__newest-tests .information-block__img {
    width: 100%;
    height: 150px; }
  .test1 .page-tests__newest-tests .information-block__img_logos {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: none; }
    .test1 .page-tests__newest-tests .information-block__img_logos img {
      width: 23%; }
  .test1 .page-tests__newest-tests .information-block__description {
    width: 100%; }
  .test1 .page-tests__newest-tests .information-block__description table {
    width: 48%;
    margin-right: 2%;
    float: left; }
  .test1 .page-tests__newest-tests .information-block__description p {
    margin-top: 10px; } }

@media (max-width: 767px) {
  .page-tests__newest-tests {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .page-tests__newest-tests .information-block {
    width: 75%; 
    margin-left: auto;
    margin-right: auto;
    float: none;
    } }

@media (max-width: 639px) {
  .test1 .page-tests__newest-tests .information-block__description table {
    width: 100%;
    float: none; }
  .page-tests__newest-tests .information-block {
    width: 100%; } }

@media (max-width: 479px) {
  .page-tests__newest-tests .description {
    font-size: 16px; }
  .page-tests__newest-tests .information-block__description table tr td:first-child,
  .page-tests__newest-tests .information-block__description table tr td:last-child,
  .page-tests__newest-tests .information-block p {
    font-size: 14px; }
  .test1 .page-tests__newest-tests .description {
    font-size: 16px; }
  .test1 .page-tests__newest-tests .information-block__description table tr td:first-child,
  .test1 .page-tests__newest-tests .information-block__description table tr td:last-child,
  .test1 .page-tests__newest-tests .information-block p {
    font-size: 14px; } }
