body.touch select.myselect_block
{
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    display: block;
    width: 100%;
    opacity: 0;
    -webkit-tap-highlight-color: transparent;
        -ms-tap-highlight-color: transparent;
       -moz-tap-highlight-color: transparent;
         -o-tap-highlight-color: transparent;
}

/*.myselect_body
{
    display: table;
    width: 55px;
    height: 36px;
    margin-top: 2px;
}*/
.myselect_wrapper{
    display: table;
    width: 150px;
    height: 36px;
}
.myselect_block.js-select-visual
{
    position: relative;
}

.myselect_block.js-select
{
    position: relative;
    display: none;
}

.myselect_block span.select-value
{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 7px;
    text-align: left;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #eee;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    color: #000;
    -webkit-tap-highlight-color: transparent;
        -ms-tap-highlight-color: transparent;
       -moz-tap-highlight-color: transparent;
         -o-tap-highlight-color: transparent;
}

.myselect_block span.select-value:hover
{
    cursor: pointer;
}

.myselect_block span.select-value:after
{
    position: absolute;
    top: 50%;
    right: 8px;
    width: 13px;
    height: 8px;
    margin-top: -4px;
    content: '';
    transition: .3s;
    background-image: url(../img/arrow_down.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.myselect_block ul.select-list
{
    position: absolute;
    z-index: 5;
    right: 0;
    left: 0;
    display: none;
    width: 100%;
    list-style: none;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #eee;
}

.myselect_block ul.select-list li
{
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    padding: 0 7px;
}

.myselect_block ul.select-list li.active
{
    color: #fff;
    background-color: #e2001a;
}

.myselect_block ul.select-list li:hover
{
    cursor: pointer;
    color: #fff;
    background-color: #e2001a;
}

.myselect_block.open ul.select-list
{
    display: block;
}

.myselect_block.open span.select-value:after
{
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
}
/*------------------------------Modal---------------------------------*/
/*------------------------------Modal---------------------------------*/
/*------------------------------Modal---------------------------------*/
.modal
{
    position: relative;
    z-index: 100000;
    display: none;
    width: 920px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0px;
    border-radius: 0px;
}

.modal-header
{
    position: relative;
    padding: 12px 0;
    text-align: center;
    background-color: #999;
}

.modal-header-text
{
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
}
.modal-main{
    padding: 20px;
    font-size: 14px;
    background-color: #fff;
}
.modal-close-btn
{
    position: absolute;
    top: 12px;
    right: 12px;
    display: block;
    width: 20px;
    height: 20px;
}

.modal-close-btn:hover
{
    cursor: pointer;
}

.modal-close-btn_icon
{
    display: block;
    width: inherit;
    height: inherit;
    color: #fff;
    fill: #fff;
}
.modal-open .modal-container
{
    display: block;
}

.modal-open .modal.open
{
    display: block;
}

.overlay
{
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
}

.overlay-open .overlay
{
    display: block;
}

.modal-container
{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
}

@media (max-width: 1440px) {}

@media (max-width: 1199px) {}

@media (max-width: 959px) {
    .modal {
        width: 728px;
    }
}

@media (max-width: 767px) {
    .modal {
        width: 600px;
    }
}

@media (max-width: 639px) {
    .modal {
        width: 440px;
    }
}

@media (max-width: 479px) {
    .modal {
        width: calc(100% - 40px);
    }
     .modal-header {
        padding: 12px 35px;
    }
}

@media (max-width: 320px) {}
/*---------Edge----------------------*/
@supports (-ms-ime-align:auto) {
    .myselect_block span.select-value:after {
        width: 15px;
        height: 9px;
    } 
}
/*---------------------IE-----------------*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .myselect_block span.select-value:after {
        width: 15px;
        height: 9px;
    } 
}

