body.touch select.myselect_block
{
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    display: block;
    width: 100%;
    opacity: 0;
    -webkit-tap-highlight-color: transparent;
        -ms-tap-highlight-color: transparent;
       -moz-tap-highlight-color: transparent;
         -o-tap-highlight-color: transparent;
}

/*.myselect_body
{
    display: table;
    width: 55px;
    height: 36px;
    margin-top: 2px;
}*/
.myselect_wrapper{
    display: table;
    width: 150px;
    height: 36px;
}
.myselect_block.js-select-visual
{
    position: relative;
}

.myselect_block.js-select
{
    position: relative;
    display: none;
}

.myselect_block span.select-value
{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 7px;
    padding-right: 25px;
    text-align: left;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #eee;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    color: #000;
    -webkit-tap-highlight-color: transparent;
        -ms-tap-highlight-color: transparent;
       -moz-tap-highlight-color: transparent;
         -o-tap-highlight-color: transparent;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.myselect_block span.select-value:hover
{
    cursor: pointer;
}

.myselect_block span.select-value:after
{
    position: absolute;
    top: 50%;
    right: 8px;
    width: 13px;
    height: 8px;
    margin-top: -4px;
    content: '';
    transition: .3s;
    background-image: url(../img/arrow_down.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.myselect_block ul.select-list
{
    position: absolute;
    z-index: 5;
    right: 0;
    left: 0;
    display: none;
    width: 100%;
    list-style: none;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #eee;
    max-height: 200px;
    overflow: auto;
}

.myselect_block ul.select-list li
{
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    padding: 0 7px;
}

.myselect_block ul.select-list li.active
{
    color: #fff;
    background-color: #ff2c2c;
}

.myselect_block ul.select-list li:hover
{
    cursor: pointer;
    color: #fff;
    background-color: #ff2c2c;
}

.myselect_block.open ul.select-list
{
    display: block;
}

.myselect_block.open span.select-value:after
{
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
}
/*------------------------------Modal---------------------------------*/
/*------------------------------Modal---------------------------------*/
/*------------------------------Modal---------------------------------*/
.modal
{
    position: relative;
    z-index: 100000;
    display: none;
    width: 920px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0px;
    border-radius: 0px;
}

.modal-header
{
    position: relative;
    padding: 12px 0;
    text-align: center;
    background-color: #999;
}

.modal-header-text
{
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
}
.modal-main{
    padding: 20px;
    font-size: 14px;
    background-color: #fff;
}
.modal-close-btn
{
    position: absolute;
    top: 12px;
    right: 12px;
    display: block;
    width: 20px;
    height: 20px;
}

.modal-close-btn:hover
{
    cursor: pointer;
}

.modal-close-btn_icon
{
    display: block;
    width: inherit;
    height: inherit;
    color: #fff;
    fill: #fff;
}
.modal-open .modal-container
{
  display: block;
}

.modal-open .modal.open
{
  display: block;
}

.overlay
{
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
}

.overlay-open .overlay
{
  display: block;
}

.modal-container
{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
}
/*-----------------------MultiChoose--------------------------*/
/*-----------------------MultiChoose--------------------------*/
.filter-multichoose.open .filter-multichoose-body {
  display: block;
}
.filter-multichoose.open .filter-multichoose__btn:before{
  display: block;
}
.filter-multichoose{
  position: static;
}
.filter-multichoose .btn-style{
  height: 36px;
  line-height: 36px;
}
.filter-multichoose .filter-multichoose-body{
  position: absolute;
  z-index: 99;
  top: auto;
  right: 0px;
  left: 0px;
  display: none;
  width: 1300px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 20px;
  overflow: auto;
  background: #d8d8d8;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
  -webkit-overflow-scrolling: touch;
}
.filter-multichoose .filter-multichoose__btn{
  display: block;
  max-width: 100%;
  position: relative;
}
.filter-multichoose .filter-multichoose__btn:before{
  content: "";
  display: none;
  position: absolute;
  z-index: 101;
  top: 100%;
  left: 50%;
  display: none;
  width: 0;
  height: 0;
  margin-top: 7px;
  margin-left: -20px;
  border: 20px solid transparent;
  border-top: none;
  border-bottom-color: #d8d8d8;
  -webkit-filter: drop-shadow(0 -2px 1px rgba(0, 0, 0, 0.05));
  filter: drop-shadow(0 -2px 1px rgba(0, 0, 0, 0.05));
}
.filter-multichoose .filter-multichoose__btn span {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding-left: 7px;
  padding-right: 25px;
  text-align: left;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #eee;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  color: #000;
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.filter-multichoose .filter-multichoose__btn span.open:after{
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.filter-multichoose .filter-multichoose__btn span:after{
  position: absolute;
  top: 50%;
  right: 8px;
  width: 13px;
  height: 8px;
  margin-top: -4px;
  content: '';
  transition: .3s;
  background-image: url(../img/arrow_down.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.filter-multichoose .filter-multichoose-body {
  display: none;
}

.filter-multichoose .filter-multichoose-body__header {
  display: block;
  margin: 0 -10px;
}
.filter-multichoose .filter-header-item{
  position: relative;
  float: left;
  width: 60%;
  padding: 0 10px;
}
.filter-multichoose .filter-header-item:nth-of-type(2){
  width: 20%;
}
.filter-multichoose .filter-header-item:nth-of-type(3){
  width: 20%;
}

.filter-multichoose .filter-header-item .search-icon{
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  top: 50%;
  right: 20px;
  margin-top: -9px;
  color: #d8d8d8;
  fill: #d8d8d8;
}
.filter-multichoose .filter-header-item .js-menu-search__input{
  position: relative;
  display: block;
  width: 100%;
  height: 36px;
  padding: 8px 20px;
  padding-right: 25px;
  text-align: left;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #eee;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000;
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.filter-multichoose .filter-header-item .chbox-label{
  display: block;
  line-height: 36px;
  padding-left: 30px;
}
.filter-multichoose .filter-header-item .chbox-label:before{
  top: 50%;
  margin-top: -9px;
}
.filter-multichoose .filter-header-item .checkbox-label.decor .chbox-label:before{
      background-image: url(../../img/cb_checked_some.svg);
}
.filter-multichoose .filter-multichoose-body__main{
  margin-top: 20px;
  padding: 14px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.filter-multichoose .filter-multichoose-body__main ul {
  columns: 4;
  width: 100%;
}

.filter-multichoose .filter-multichoose-body__main ul span {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  padding-left: 30px;
}
.filter-multichoose .filter-multichoose-body__main ul span:before{
  top: 50%;
  margin-top: -10px;
}
.filter-multichoose .filter-multichoose-body__footer{
  padding-top: 20px;
  text-align: right;
  margin: 0 -10px;
}

.filter-multichoose .filter-multichoose-body__footer .filter-multichoose-body__footer-item{
  width: 20%;
  float: right;
  padding: 0 10px;
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media (max-width: 1440px) {
  .filter-multichoose .filter-multichoose-body{
    width: 1160px;
  }
}

@media (max-width: 1199px) {
  .filter-multichoose .filter-multichoose-body{
    width: 920px;
  }
}

@media (max-width: 959px) {
    .modal {
      width: 728px;
    }
    .filter-multichoose .filter-header-item {
      width: 50%;
    }
    .filter-multichoose .filter-header-item:nth-of-type(2) {
      width: 27%;
    } 
    .filter-multichoose .filter-header-item:nth-of-type(3) {
      width: 23%;
    } 
    .filter-multichoose .filter-multichoose-body__footer .filter-multichoose-body__footer-item {
      width: 23%;
    }
    .filter-multichoose .filter-multichoose-body{
      width: 728px;
    }
}

@media (max-width: 767px) {
    .modal {
        width: 600px;
    }
    .filter-multichoose .filter-header-item {
      width: 100%;
    }
    .filter-multichoose .filter-multichoose-body__main ul {
      columns: 3;
    }
    .filter-multichoose .filter-header-item:nth-of-type(2) {
      width: 50%;
      margin-top: 20px;
    } 
    .filter-multichoose .filter-header-item:nth-of-type(3) {
      width: 50%;
      margin-top: 20px;
      float: right;
    } 
    .filter-multichoose .filter-multichoose-body__footer .filter-multichoose-body__footer-item {
      width: 50%;
    }
    .filter-multichoose .filter-multichoose-body{
      width: calc(100% - 40px);
    }
}

@media (max-width: 639px) {
    .modal {
        width: 440px;
    }
    .filter-multichoose .filter-multichoose-body__main ul {
      columns: 2;
    }
    .filter-multichoose .filter-multichoose-body__main {
      margin-top: 14px;
    }
}

@media (max-width: 479px) {
    .modal {
        width: calc(100% - 40px);
    }
     .modal-header {
        padding: 12px 35px;
    }
    .filter-multichoose .filter-multichoose-body__main ul {
      columns: 1;
    }
    .filter-multichoose .filter-header-item:nth-of-type(2) {
      width: 100%;
    } 
    .filter-multichoose .filter-header-item:nth-of-type(3) {
      width: 100%;
    } 
    .filter-multichoose .filter-multichoose-body__footer .filter-multichoose-body__footer-item {
      width: 100%;
    }
    .filter-multichoose .filter-header-item .chbox-label {
      line-height: 20px;
    }
}

@media (max-width: 320px) {}
/*---------Edge----------------------*/
@supports (-ms-ime-align:auto) {
    .myselect_block span.select-value:after {
        width: 15px;
        height: 9px;
    } 
}
/*---------------------IE-----------------*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .myselect_block span.select-value:after {
        width: 15px;
        height: 9px;
    } 
}