a{
    text-decoration: none;
}

.ourstore__button-group{
    margin-top: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-align-items: flex-start;
    align-items: flex-start;
}
.ourstore__button-group .ourstore__button-group_btn{
    background: none;
    border: none;
    font-size: 20px;
    color: #000;
    padding: 5px 10px;
    position: relative;
    margin-right: 10px;
}
.ourstore__button-group .ourstore__button-group_btn:last-of-type{
    margin-right: 0px;
}

.ourstore__button-group .ourstore__button-group_btn.active:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #e2001a;
}
.ourstore__button-group .ourstore__button-group_btn:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #e2001a;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.ourstore__button-group .ourstore__button-group_btn:hover{
    cursor: pointer;
}
.ourstore__button-group .ourstore__button-group_btn:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.ourstore__body{
    margin: 0 -15px;
    margin-top: 20px;
}
.ourstore__body .ourstore__body-link{
    width: 33.333333333%;
    height: 335px;
    padding: 15px;
    display: block;
    background-color: #fff;
}
.ourstore__body .ourstore__body-link .ourstore__body-link_shodow{
    -webkit-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    top: 0px;
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
    width: 100%;
    height: 100%;
}
.ourstore__body .ourstore__body-link .ourstore__body-link_thumb{
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0px 0px 0px 1px #e5e5e5,
                        inset 0px 0px 0px 11px #fff;
    -moz-box-shadow: inset 0px 0px 0px 1px #e5e5e5,
                     inset 0px 0px 0px 11px #fff;
    -o-box-shadow: inset 0px 0px 0px 1px #e5e5e5,
                   inset 0px 0px 0px 11px #fff;
    box-shadow: inset 0px 0px 0px 1px #e5e5e5,
                inset 0px 0px 0px 11px #fff;
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.ourstore__body .ourstore__body-link:hover .ourstore__body-link_shodow{
        top: -10px;
        -webkit-box-shadow: 0px 11px 45px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 11px 45px 0px rgba(0, 0, 0, 0.5);
        -o-box-shadow: 0px 11px 45px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 11px 45px 0px rgba(0, 0, 0, 0.5);

}
.ourstore__body .ourstore__body-link .ourstore__body-link_text{
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    background-color: #fff;
    width: 98%;
    padding: 10px;
    opacity: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.ourstore__body .ourstore__body-link:hover .ourstore__body-link_text{
    opacity: 1;
}
.ourstore__body .ourstore__body-link span.ourstore__body-link_text-name{
    font-size: 20px;
    color: #333;
    text-decoration: none;
}
.ourstore__body .ourstore__body-link p.ourstore__body-link_desc{
    font-size: 16px;
    color: #888;
    text-decoration: none;
}
@media (max-width: 1440px) {
    .ourstore__body {
        margin: 0 -10px;
        margin-top: 20px;
    }
    .ourstore__body .ourstore__body-link {
        padding: 10px;
    }
    .ourstore__body .ourstore__body-link {
        height: 280px;
    }
}

@media (max-width: 1199px) {
    .ourstore__body {
        margin: 0 -10px;
        margin-top: 20px;
    }
    .ourstore__body .ourstore__body-link {
        height: 250px;
        padding: 10px;
    }
    .ourstore__body .ourstore__body-link .ourstore__body-link_text{
        opacity: 1;
        padding: 5px 10px;
    }
    .ourstore__body .ourstore__body-link .ourstore__body-link_shodow{
        -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
    }
    .ourstore__body .ourstore__body-link .ourstore__body-link_thumb {
        -webkit-box-shadow: inset 0px 0px 0px 1px #d2d1d1,
                            inset 0px 0px 0px 7px #fff;
        -moz-box-shadow: inset 0px 0px 0px 1px #d2d1d1,
                         inset 0px 0px 0px 7px #fff;
        -o-box-shadow: inset 0px 0px 0px 1px #d2d1d1,
                       inset 0px 0px 0px 7px #fff;    
        box-shadow: inset 0px 0px 0px 1px #d2d1d1, inset 0px 0px 0px 7px #fff;
    }
    .ourstore__body .ourstore__body-link:hover .ourstore__body-link_shodow{
        top: 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
    }
}

@media (max-width: 959px) {
    .ourstore__body .ourstore__body-link {
        width: 50%;
        height: 270px;
    }
}

@media (max-width: 767px) {
    .ourstore__button-group .ourstore__button-group_btn{
        margin-right: 6px;
    }
    .ourstore__body .ourstore__body-link {
        height: 250px;
    }
    .ourstore__button-group {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .ourstore__button-group .ourstore__button-group_btn{
        padding: 5px 5px;
        font-size: 18px; 
    }
}

@media (max-width: 639px) {
    .ourstore__button-group {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .ourstore__button-group .ourstore__button-group_btn{
        padding: 5px 5px;
        font-size: 18px; 
    }
    .ourstore__body {
        margin: 0 auto;
        margin-top: 20px;
    }
    .ourstore__body .ourstore__body-link {
        width: 100%;
        height: 300px;
        padding: 7px 0px;
    }
    .ourstore__body .ourstore__body-link span.ourstore__body-link_text-name {
        font-size: 18px;
    }
}

@media (max-width: 479px) {
    .ourstore__body .ourstore__body-link {
        width: 100%;
        height: 250px;
    }
}

@media (max-width: 320px) {}