.dropdown__body {
  padding: 20px;
  display: none;
  width: auto;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 20px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.dropdown__body:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  left: 20px;
  margin-top: 7px;
  border: 20px solid transparent;
  -webkit-filter: drop-shadow(0 -2px 1px rgba(0, 0, 0, 0.05));
  filter: drop-shadow(0 -2px 1px rgba(0, 0, 0, 0.05));
  border-top: none;
  border-bottom-color: #fff;
}

.dropdown__body-caption {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000;
  margin-bottom: 4px;
}

.dropdown__body-mask {
  position: relative;
}

.dropdown__body .input_decor,
.dropdown__body .input_decor:focus {
  width: 254px;
  max-width: 100%;
  height: 54px;
  font-size: 24px;
  line-height: 54px;
  font-weight: normal;
  color: #000;
  background: #eee;
  padding-left: 70px;
  vertical-align: middle;
  border: 1px solid #ccc;
  -webkit-border-radius: 11px;
  border-radius: 11px;
}

.dropdown__body .mask-decor {
  position: absolute;
  left: 11px;
  z-index: 1;
  font-size: 24px;
  line-height: 55px;
  font-weight: normal;
  color: #000;
}

.dropdown__body-btn {
  display: block;
  margin-top: 15px;
  background: #e2001a;
  color: #fff;
  font-size: 24px;
  line-height: 60px;
  font-weight: 700;
  height: 60px;
  width: 100%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0 25px;
}

.dropdown__body-btn:hover {
  cursor: pointer;
  background-color: #ff2c2c;
}

.show_message_ok {
  padding: 20px;
  width: auto;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 20px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  text-align: center;
  color: #79c61d;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.dropdown__body.open {
  display: block;
}

.container-block {
  padding: 0px;
}

.filter__order-call {
  display: none;
  position: relative;
  margin: 0 auto;
  margin-top: 5px;
  padding-left: 38px;
  font-size: 14px;
  line-height: 28px;
  color: #000;
}

.filter__order-call .filter__tab-phone {
  color: #e2001a;
  fill: #e2001a;
}

.filter__btn {
  font-size: 18px;
  line-height: 56px;
  height: 56px;
}

.filter__label {
  display: table;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}

.filter__tab {
  position: relative;
  float: left;
  width: 33.33333333%;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #fff;
  background-color: #666;
}

.filter__tab:hover {
  cursor: pointer;
  background-color: #808080;
}

.filter__tab.active {
  background-color: #d8d8d8 !important;
  color: #000 !important;
}

.filter__tab.active .filter__tab-helper {
  display: block !important;
}

.filter__tab-helper {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
  top: 50%;
  margin-top: -10px;
  color: #999;
  fill: #999;
}

.filter__tab-helper:hover {
  cursor: pointer;
  color: #666;
  fill: #666;
}

.filter__tab-text {
  position: relative;
  display: block;
  padding: 18px 20px;
}

.filter__tab-text span {
  display: inline-block;
  position: relative;
  padding-left: 38px;
}

.filter__tab-phone {
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 0px;
  top: 50%;
  margin-top: -14px;
  color: #fff;
  fill: #fff;
}

.filter__block {
  display: table;
  width: 100%;
  padding: 20px 90px 0px 90px;
  background-color: #fff;
  background-color: #d8d8d8;
}

.filter__block .myselect_wrapper {
  width: 100%;
  display: block;
}

.filter__find-block {
  padding: 35px 90px 15px 90px;
  background-color: #666;
}

.filter__find-block-left {
  float: left;
}

.filter__find-block-right {
  float: right;
}

.filter__find-block-index {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.filter__find-block-index .myselect_wrapper {
  position: relative;
  width: 120px;
}

.filter__find-block-index .myselect_wrapper label {
  position: absolute;
  top: -20px;
  left: 0px;
  font-size: 14px;
  line-height: 16px;
  color: #b2b2b2;
}

.filter__find-block-info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 17px;
}

.filter__find-block-info p {
  display: block;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  color: #b2b2b2;
}

.filter__find-block-info span {
  display: inline-block;
  color: #fff;
}

.filter__find-block-btns {
  display: inline-block;
  vertical-align: middle;
}

.filter__find-block-btn {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 275px;
  height: 36px;
  border-radius: 3px;
  background-color: #777;
  font-size: 14px;
  line-height: 36px;
  color: #b2b2b2;
}

.filter__find-block-btn + .filter__find-block-btn {
  margin-left: 17px;
}

.filter__find-block-btn:hover {
  cursor: pointer;
  background-color: #808080;
  color: #fff;
}

.filter__find-block-btn.active {
  color: #000;
  background-color: #dddddd !important;
}

.filter__choose-car {
  display: table;
  width: 100%;
}

.filter__choose-goods .filter-product__fields-item-poauto:nth-of-type(3){
  display: none;
}

.filter-product__item {
  display: table-cell;
  vertical-align: top;
}

.filter-product__pic {
  height: auto;
  min-width: 275px;
  width: 275px;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.filter-product__fields {
  padding-left: 10px;
  padding-bottom: 20px;
  min-width: 600px;
}

.filter-product__fields-item-param {
  float: left;
  width: 33.3333333%;
  padding: 0px 10px;
}

.filter-product__fields-item-param:nth-of-type(4),
.filter-product__fields-item-param:nth-of-type(5){
  width: 50%;
  margin-top: 10px;
}
.filter-product__fields-item-param:nth-of-type(6){
  display: none;
}


.filter-product__fields-item-poauto {
  float: left;
  width: 50%;
  padding: 0px 10px;
}
.filter-product__fields-item-poauto:nth-of-type(3),
.filter-product__fields-item-poauto:nth-of-type(4) {
  margin-top: 10px;
}
.filter-product__fields-item-poauto:nth-of-type(5){
  display: none;
}


.filter-product__btn {
  position: relative;
  padding-left: 10px;
  padding-bottom: 20px;
  min-width: 285px;
  font-size: 14px;
  line-height: 16px;
  color: #666;
}

.filter-product__btn-text {
  display: block;
  max-height: 16px;
  overflow: hidden;
}

.filter-product__btn-bold {
  display: block;
  margin-top: 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  max-height: 32px;
  overflow: hidden;
}

.filter-product__btn-span {
  display: block;
  margin-top: 0px;
  font-weight: normal;
}

.filter-product__btn .btn-style {
  position: absolute;
  bottom: 20px;
  width: 275px;
}

.filter-product__your-car {
  padding: 0px 0px 20px 0px;
}

.filter-product__marka {
  display: inline-block;
  vertical-align: bottom;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  font-weight: bold;
}

.filter-product__change-car {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 30px;
  font-size: 18px;
  line-height: 21px;
  color: #808080;
  font-weight: bold;
  text-decoration: underline;
}

.filter-product__change-car:hover {
  cursor: pointer;
  color: #8a8a8a;
}

.filter-product__your-size {
  border-bottom: 2px solid #979797;
  margin-bottom: 20px;
}

.filter-product__your-size-item {
  padding: 20px 0px 10px 0px;
  border-top: 2px solid #979797;
}

.filter-product__your-size-item-value {
  display: table;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  font-weight: bold;
}

.filter-product__your-size-list {
  margin-top: 10px;
  columns: 4;
}

.filter-product__your-size-list_item .radio-label {
  display: inline-block;
  font-size: 16px;
  line-height: 39px;
  color: #000;
  font-weight: bold;
  padding-left: 29px;
}

.filter-product__your-size-list_item .radio-label:before {
  top: 50%;
  margin-top: -10px;
}

.filter-product__your-size-list_item .radio-label span {
  display: inline-block;
  vertical-align: bottom;
  font-size: 14px;
  line-height: 39px;
}
.filter-product__your-size-desc {
  float: left;
  width: 50%;
}

.filter-product__your-size-desc span {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.filter-product__your-size-desc ul {
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.filter-product__your-size-desc li {
  width: 100%;
}

.filter-product__your-size-desc li span {
  display: inline-block;
  vertical-align: bottom;
}

.filter-product__your-size-desc li span.left {
  color: #666;
  width: 230px;
}

.filter-product__your-size-desc li span.right {
  font-weight: bold;
}

.filter-product__your-size-desc li + li {
  margin-top: 10px;
}

.filter-product__your-size-desc:nth-of-type(2) li span.left {
  color: #666;
  width: 135px;
}


@media (max-width: 1440px) {
  .filter__block {
    padding: 20px 20px 0px 20px;
  }
  .filter__find-block {
    padding: 35px 20px 15px 20px;
  }
}

@media (max-width: 1199px) {
  .filter-product__pic {
    min-width: 215px;
    width: 215px;
  }
  .filter-product__fields {
    min-width: 480px;
  }
  .filter-product__btn {
    min-width: 225px;
  }
  .filter__find-block-btn {
    width: 215px;
  }
  .filter-product__btn-span {
    display: none;
  }
  .dropdown__body:before {
    left: 45px;
  }
  .filter-product__btn .btn-style {
    width: 215px;
  }
}

@media (max-width: 959px) {
  .filter__tab-text {
    padding: 9px 40px 8px;
  }
  .filter-product__btn {
    display: none;
  }
  .filter-product__pic {
    min-width: 167px;
    width: 167px;
  }
  .filter-product__fields {
    min-width: auto;
    display: block;
    margin: 0 -10px;
    padding-left: 20px;
  }
  .filter-product__fields-item-param:nth-of-type(6){
    display: block;
  }
  .filter-product__fields-item-param:nth-of-type(4),
  .filter-product__fields-item-param:nth-of-type(5),
  .filter-product__fields-item-param:nth-of-type(6) {
    width: 33.333333333%;
    margin-top: 10px;
  }
  .filter-product__fields-item-poauto:nth-of-type(5){
    display: block;
  }
  .filter-product__fields-item-poauto:nth-of-type(3),
  .filter-product__fields-item-poauto:nth-of-type(4),
  .filter-product__fields-item-poauto:nth-of-type(5) {
    width: 25%;
    margin-top: 10px;
  }
  .filter-product__fields-item-poauto:nth-of-type(5) {
    width: 50%;
  }
  .filter-product__your-size-list {
    columns: 3;
  }
  .filter__choose-goods .filter-product__fields {
    padding-left: 0px;
  }
  .filter__choose-goods .filter-product__fields-item-poauto {
    width: 33.3333333%;
    margin-top: 0px;
  }

  .filter__find-block-info p {
    font-size: 16px;
    line-height: 19px;
  }
  .filter__find-block-btn {
    width: 135px;
  }
  .filter__choose-goods .filter-product__fields-item-poauto:nth-of-type(3) {
    display: block;
  }
  .filter-product__your-size-desc li span.left {
    width: 197px;
  }
  .filter-product__your-size-desc:nth-of-type(2) li span.left {
    width: 123px;
  }
}

@media (max-width: 767px) {
  .filter-product__pic {
    display: none;
  }
  .filter-product__fields {
    padding-left: 0px;
  }
  .filter-product__fields-item-poauto:nth-of-type(3),
  .filter-product__fields-item-poauto:nth-of-type(4),
  .filter-product__fields-item-poauto:nth-of-type(5) {
    width: 33.33333333%;
  }
  .filter-product__your-size-list {
    columns: 2;
  }
  .filter__choose-goods .filter-product__fields {
    margin: 0px;
  }
  .filter__choose-goods .filter-product__fields-item-poauto {
    width: 50%;
    padding: 0px;
  }
  .filter__choose-goods .filter-product__fields-item-poauto:nth-of-type(1) {
    padding-right: 10px;
  }
  .filter__choose-goods .filter-product__fields-item-poauto:nth-of-type(2) {
    padding-left: 10px;
  }
  .filter__choose-goods .filter-product__fields-item-poauto:nth-of-type(3) {
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
    border-top: 2px solid #979797;
    width: 100%;
  }
  .filter__choose-goods .filter-product__fields .btn-style {
    width: 50%;
    float: right;
  }
  .filter__find-block {
    padding: 15px 20px 15px 20px;
  }
  .filter__find-block-index .myselect_wrapper {
    width: 290px;
    padding-left: 130px;
  }
  .filter__find-block-index .myselect_wrapper label {
    top: 50%;
    margin-top: -8px;
    margin-bottom: 0px;
  }
  .filter__find-block-info {
    margin-left: 16px;
    width: 290px;
    text-align: center;
  }
  .filter__find-block-right {
    width: 100%;
    margin-top: 10px;
  }
  .filter__find-block-btns {
    display: block;
  }
  .filter__find-block-btn {
    width: 290px;
  }
  .filter__find-block-btn + .filter__find-block-btn {
    margin-left: 16px;
  }
  .filter-product__your-size-desc li span.left,
  .filter-product__your-size-desc:nth-of-type(2) li span.left  {
    width: 155px;
  }
}

@media (max-width: 639px) {
  .container-block {
    width: 100%;
  }
  .filter__tab {
    width: 50%;
  }
  .filter__tab-text {
    padding: 18px 20px;
  }
  .filter__tab:first-of-type {
    display: none;
  }
  .filter-product__fields {
    margin: 0px;
  }
  .filter-product__fields-item-param,
  .filter-product__fields-item-poauto {
    width: 100%;
    padding: 0px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
  }
  .filter-product__fields-item-param + .filter-product__fields-item-param,
  .filter-product__fields-item-poauto + .filter-product__fields-item-poauto {
    margin-top: 10px;
  }
  .filter-product__fields-item-param:nth-of-type(4),
  .filter-product__fields-item-param:nth-of-type(5),
  .filter-product__fields-item-param:nth-of-type(6),
  .filter-product__fields-item-poauto:nth-of-type(3),
  .filter-product__fields-item-poauto:nth-of-type(4),
  .filter-product__fields-item-poauto:nth-of-type(5),
  .filter__choose-goods .filter-product__fields-item-poauto {
    width: 100%;
  }
  .filter-product__fields-item-param:nth-of-type(6),
  .filter-product__fields-item-poauto:nth-of-type(5) {
    margin-top: 20px;
  }
  .filter__label {
    margin-bottom: 0px;
    min-width: 120px;
  }
  .filter__block .myselect_wrapper {
    width: auto;
    flex-grow: 1;
  }
  .filter__order-call {
    display: table;
  }
  .filter-product__change-car {
    display: block;
    margin-left: 0px;
    margin-top: 10px;
  }
  .filter-product__your-size-list {
    columns: 1;
  }
  .filter__choose-goods .filter-product__fields-item-poauto:nth-of-type(1) {
    padding-right: 0px;
  }
  .filter__choose-goods .filter-product__fields-item-poauto:nth-of-type(2) {
    padding-left: 0px;
  }
  .filter__choose-goods .filter-product__fields-item-poauto:nth-of-type(3) {
    padding-left: 0px;
  }
  .filter__choose-goods .filter-product__fields .btn-style {
    width: 100%;
  }
  .filter__find-block-left {
    width: 100%;
    display: block;
  }
  .filter__find-block-index {
    display: block;
  }
  .filter__find-block-index .myselect_wrapper {
    width: 280px;
    padding-left: 130px;
    margin: 0 auto;
  }
  .filter__find-block-info {
    display: block;
    text-align: center;
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
  }
  .filter__find-block-btn {
    width: 48%;
    float: left;
  }
  .filter__find-block-btn + .filter__find-block-btn {
    margin-left: 0px;
    float: right;
    width: 48%;
  }
  .filter-product__your-size-desc{
    float: none;
    display: block;
    width: 100%;
  }
  .filter-product__your-size-desc:nth-of-type(2){
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #979797;
  }
  .filter-product__your-size-desc li span.left,
  .filter-product__your-size-desc:nth-of-type(2) li span.left {
    width: 45vw;
    min-width: 144px;
    padding-right: 10px;
  }

}

@media (max-width: 539px) {
  .filter__tab-text {
    padding: 9px 70px 8px;
  }
}

@media (max-width: 479px) {
  .filter__tab-text {
    padding: 9px 40px 8px;
  }
}

@media (max-width: 379px) {
  .filter__tab-helper {
    right: 10px;
  }
  .filter__tab-text {
    padding: 9px 30px 8px;
  }
}

