.container-block {
  padding: 0px;
}

.filter__order-call {
  display: none;
  position: relative;
  margin: 0 auto;
  margin-top: 5px;
  padding-left: 38px;
  font-size: 14px;
  line-height: 28px;
  color: #000;
}

.filter__order-call .filter__tab-phone {
  color: #e2001a;
  fill: #e2001a;
}

.filter__btn {
  font-size: 18px;
  line-height: 56px;
  height: 56px;
}

.filter__label {
  display: table;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}

.filter__tab {
  position: relative;
  float: left;
  width: 33.33333333%;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #fff;
  background-color: #666;
}

.filter__tab:hover {
  cursor: pointer;
  background-color: #808080;
}

.filter__tab.active {
  background-color: #d8d8d8 !important;
  color: #000 !important;
}

.filter__tab.active .filter__tab-helper {
  display: block !important;
}

.filter__tab-helper {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
  top: 50%;
  margin-top: -10px;
  color: #999;
  fill: #999;
}

.filter__tab-helper:hover {
  cursor: pointer;
  color: #666;
  fill: #666;
}

.filter__tab-text {
  position: relative;
  display: block;
  padding: 18px 20px;
}

.filter__tab-text span {
  display: inline-block;
  position: relative;
  padding-left: 38px;
}

.filter__tab-phone {
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 0px;
  top: 50%;
  margin-top: -14px;
  color: #fff;
  fill: #fff;
}

.filter__block {
  display: table;
  width: 100%;
  table-layout: fixed;
  padding: 20px 90px 0px 90px;
  background-color: #fff;
  background-color: #d8d8d8;
}

.filter__block .myselect_wrapper {
  width: 100%;
  display: block;
}

.filter__find-block {
  padding: 15px 90px 15px 90px;
  background-color: #666;
}
.filter__find-block-wrapper{
  margin: 0 -10px;
}

.filter__find-block-left {
  float: left;
  width: 50%;
  padding: 0 10px;
}

.filter__find-block-right {
  float: right;
  width: 50%;
  padding: 0 10px;
}

.filter__find-block-index {
  float: right;
}
.filter__find-block-index-wrapper{
  position: relative;
}
.filter__find-block-index .filter__label{
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  color: #b2b2b2;
  margin-bottom: 0px;
}
.filter__find-block-index .filter-multichoose{
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  width: 120px;
  position: relative;
}
.filter__find-block-index .filter-multichoose-body{
  width: 160px;
  left: 0px;
  margin: 0px;
  margin-top: 25px;
}
.filter__find-block-index .filter-multichoose-body__main ul{
  columns: 1;
}
.filter__find-block-index .filter-multichoose-body__footer{
  text-align: left;
  margin: 0px;
  padding-top: 10px;
}
.filter__find-block-index .filter-multichoose .filter-multichoose-body__footer .filter-multichoose-body__footer-item{
  width: 100%;
  padding: 0px;
}
.filter__find-block-index .filter-multichoose .filter-multichoose-body__header{
  margin: 0px;
}
.filter__find-block-index .filter-multichoose .filter-header-item{
  padding: 0px;
}
.filter__find-block-index .filter-multichoose .filter-header-item .chbox-label {
    display: block;
    line-height: 20px;
    padding-left: 30px;
}
.filter__find-block-index .filter-multichoose .filter-header-item .chbox-label:before{
  margin-top: 0px;
  top: 0px;
}
.filter__find-block-index .filter-multichoose .filter-multichoose-body__main{
  margin-top: 10px;
  padding: 5px 0px;
}
.filter__find-block-info {
  float: left;
}

.filter__find-block-info p {
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 36px;
  font-weight: bold;
  color: #b2b2b2;
}
.filter__find-block-info p .filter__caption{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  font-size: 14px;
  line-height: 16px;
}

.filter__find-block-info span {
  display: inline-block;
  color: #fff;
}

.filter__find-block-btns {
  margin: 0 -10px;
}
.filter__find-block-btn-wrapper{
  float: left;
  width: 50%;
  padding: 0 10px;
}
.filter__find-block-btn {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: #777;
  font-size: 14px;
  line-height: 36px;
  color: #b2b2b2;
}

.filter__find-block-btn:hover {
  cursor: pointer;
  background-color: #808080;
  color: #fff;
}

.filter__find-block-btn.active {
  color: #000;
  background-color: #dddddd !important;
}

.filter__choose-car {
  display: table;
  width: 100%;
}

.filter__choose-goods .filter-product__fields-item-poauto:nth-of-type(3){
  display: none;
}

.filter-product__item {
  display: table-cell;
  vertical-align: top;
}

.filter-product__pic {
  height: auto;
  min-width: 275px;
  width: 275px;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.filter-product__fields {
  padding-left: 10px;
  padding-bottom: 20px;
  width: 600px;
}

.filter-product__fields-item-param {
  float: left;
  width: 33.3333333%;
  padding: 0px 10px;
}

.filter-product__fields-item-param:nth-of-type(4),
.filter-product__fields-item-param:nth-of-type(5){
  width: 50%;
  margin-top: 10px;
}
.filter-product__fields-item-param:nth-of-type(6){
  display: none;
}


.filter-product__fields-item-poauto {
  float: left;
  width: 50%;
  padding: 0px 10px;
}
.filter-product__fields-item-poauto:nth-of-type(3),
.filter-product__fields-item-poauto:nth-of-type(4) {
  margin-top: 10px;
}
.filter-product__fields-item-poauto:nth-of-type(5){
  display: none;
}


.filter-product__btn {
  position: relative;
  padding-left: 10px;
  padding-bottom: 20px;
  width: 285px;
  font-size: 14px;
  line-height: 16px;
  color: #666;
}

.filter-product__btn-text {
  display: block;
  max-height: 16px;
  overflow: hidden;
}

.filter-product__btn-bold {
  display: block;
  margin-top: 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  max-height: 32px;
  overflow: hidden;
}

.filter-product__btn-span {
  display: block;
  margin-top: 0px;
  font-weight: normal;
}

.filter-product__btn .btn-style {
  position: absolute;
  bottom: 20px;
  width: 275px;
}

.filter-product__your-car {
  padding: 0px 0px 20px 0px;
}

.filter-product__marka {
  display: inline-block;
  vertical-align: bottom;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  font-weight: bold;
}

.filter-product__change-car {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 30px;
  font-size: 18px;
  line-height: 21px;
  color: #808080;
  font-weight: bold;
  text-decoration: underline;
}

.filter-product__change-car:hover {
  cursor: pointer;
  color: #8a8a8a;
}

.filter-product__your-size {
  border-bottom: 2px solid #979797;
  margin-bottom: 20px;
}

.filter-product__your-size-item {
  padding: 20px 0px 10px 0px;
  border-top: 2px solid #979797;
}

.filter-product__your-size-item-value {
  display: table;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  font-weight: bold;
}

.filter-product__your-size-list {
  margin-top: 10px;
  columns: 4;
}

.filter-product__your-size-list_item .radio-label {
  display: inline-block;
  font-size: 16px;
  line-height: 39px;
  color: #000;
  font-weight: bold;
  padding-left: 29px;
}

.filter-product__your-size-list_item .radio-label:before {
  top: 50%;
  margin-top: -10px;
}

.filter-product__your-size-list_item .radio-label span {
  display: inline-block;
  vertical-align: bottom;
  font-size: 14px;
  line-height: 39px;
}
.filter-product__your-size-desc {
  float: left;
  width: 50%;
}

.filter-product__your-size-desc span {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.filter-product__your-size-desc ul {
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.filter-product__your-size-desc li {
  width: 100%;
}

.filter-product__your-size-desc li span {
  display: inline-block;
  vertical-align: bottom;
}

.filter-product__your-size-desc li span.left {
  color: #666;
  width: 230px;
}

.filter-product__your-size-desc li span.right {
  font-weight: bold;
}

.filter-product__your-size-desc li + li {
  margin-top: 10px;
}

.filter-product__your-size-desc:nth-of-type(2) li span.left {
  color: #666;
  width: 135px;
}
.filter__choose-goods-footer{
    display: table;
    width: 100%;
    table-layout: fixed;
}


@media (max-width: 1440px) {
  .filter__block {
    padding: 20px 20px 0px 20px;
  }
  .filter__find-block {
    padding: 15px 20px 15px 20px;
  }
}

@media (max-width: 1199px) {
  .filter-product__pic {
    min-width: 215px;
    width: 215px;
  }
  .filter-product__fields {
    width: 480px;
  }
  .filter-product__btn {
    width: 225px;
  }
  .filter-product__btn-span {
    display: none;
  }
  .filter-product__btn .btn-style {
    width: 215px;
  }
  .filter__find-block-info {
    text-align: center;
    width: 50%
  }
  .filter__find-block-info p{
    line-height: 18px;
  }
  .filter__find-block-info p .filter__caption {
    display: block;
    margin-bottom: 4px;
    margin-right: 0px;
  }
  .filter__find-block-info .fillter__size {
    display: block;
  }
  .filter__find-block-index .filter__label {
    display: block;
    margin-bottom: 4px;
  }
  .filter__find-block-index .filter-multichoose {
    margin-left: 0px;
  }
  .filter__find-block-right {
    margin-top: 20px;
}
}

@media (max-width: 959px) {
  .filter__tab-text {
    padding: 9px 40px 8px;
  }
  .filter-product__btn {
    display: none;
  }
  .filter-product__pic {
    min-width: 167px;
    width: 167px;
  }
  .filter-product__fields {
    width: auto;
    display: block;
    margin: 0 -10px;
    padding-left: 20px;
  }
  .filter-product__fields-item-param:nth-of-type(6){
    display: block;
  }
  .filter-product__fields-item-param:nth-of-type(4),
  .filter-product__fields-item-param:nth-of-type(5),
  .filter-product__fields-item-param:nth-of-type(6) {
    width: 33.333333333%;
    margin-top: 10px;
  }
  .filter-product__fields-item-poauto:nth-of-type(5){
    display: block;
  }
  .filter-product__fields-item-poauto:nth-of-type(3),
  .filter-product__fields-item-poauto:nth-of-type(4),
  .filter-product__fields-item-poauto:nth-of-type(5) {
    width: 25%;
    margin-top: 10px;
  }
  .filter-product__fields-item-poauto:nth-of-type(5) {
    width: 50%;
  }
  .filter-product__your-size-list {
    columns: 3;
  }
  .filter__choose-goods .filter-product__fields {
    padding-left: 0px;
  }
  .filter__choose-goods .filter-product__fields-item-poauto {
    width: 33.3333333%;
    margin-top: 0px;
  }

  .filter__find-block-info p {
    font-size: 16px;
    line-height: 18px;
  }
  .filter__choose-goods .filter-product__pic {
      display: none;
  }
  .filter__choose-goods .filter-product__fields-item-poauto:nth-of-type(3) {
    display: block;
  }
  .filter-product__your-size-desc li span.left {
    width: 197px;
  }
  .filter-product__your-size-desc:nth-of-type(2) li span.left {
    width: 123px;
  }
  
}

@media (max-width: 767px) {
  .container-block {
    width: 100%;
  }
  .filter-product__pic {
    display: none;
  }
  .filter-product__fields {
    padding-left: 0px;
  }
  .filter-product__fields-item-poauto:nth-of-type(3),
  .filter-product__fields-item-poauto:nth-of-type(4),
  .filter-product__fields-item-poauto:nth-of-type(5) {
    width: 33.33333333%;
  }
  .filter-product__your-size-list {
    columns: 2;
  }
  .filter__choose-goods .filter-product__fields {
    margin: 0px;
  }
  .filter__choose-goods .filter-product__fields-item-poauto {
    width: 50%;
    padding: 0px;
  }
  .filter__choose-goods .filter-product__fields-item-poauto:nth-of-type(1) {
    padding-right: 10px;
  }
  .filter__choose-goods .filter-product__fields-item-poauto:nth-of-type(2) {
    padding-left: 10px;
  }
  .filter__choose-goods .filter-product__fields-item-poauto:nth-of-type(3) {
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
    border-top: 2px solid #979797;
    width: 100%;
  }
  .filter__choose-goods .filter-product__fields .btn-style {
    width: 50%;
    float: right;
  }
  .filter-product__your-size-desc li span.left,
  .filter-product__your-size-desc:nth-of-type(2) li span.left  {
    width: 155px;
  }
  .filter-product__your-size-desc {
    padding-right: 20px;
  }
  .filter__find-block-index .filter-multichoose-body {
    margin: 0px auto;
    margin-top: 25px;
  }
}

@media (max-width: 639px) {
  .filter__tab {
    width: 50%;
  }
  .filter__tab-text {
    padding: 18px 20px;
  }
  .filter__tab:first-of-type {
    display: none;
  }
  .filter-product__fields {
    margin: 0px;
  }
  .filter-product__fields-item-param{
    width: 100%;
    padding: 0px;
    display: table;
    table-layout: fixed;
  }
  .filter-product__fields-item-poauto {
    width: 100%;
    padding: 0px;
    display: table;
    table-layout: fixed;
  }
  .filter-product__fields-item-param + .filter-product__fields-item-param,
  .filter-product__fields-item-poauto + .filter-product__fields-item-poauto {
    margin-top: 10px;
  }
  .filter-product__fields-item-param:nth-of-type(4),
  .filter-product__fields-item-param:nth-of-type(5),
  .filter-product__fields-item-param:nth-of-type(6),
  .filter-product__fields-item-poauto:nth-of-type(3),
  .filter-product__fields-item-poauto:nth-of-type(4),
  .filter-product__fields-item-poauto:nth-of-type(5),
  .filter__choose-goods .filter-product__fields-item-poauto {
    width: 100%;
  }
  .filter-product__fields-item-param:nth-of-type(6),
  .filter-product__fields-item-poauto:nth-of-type(5) {
    margin-top: 20px;
  }
  .filter-product__fields-item-param .filter__label,
  .filter-product__fields-item-poauto .filter__label {
    display: table-cell;
    margin-bottom: 0px;
    min-width: 120px;
    width: 120px;
    vertical-align: middle;
  }
  .filter-product__fields-item-param .myselect_wrapper,
  .filter-product__fields-item-param .filter-multichoose {
    display: table-cell;
    vertical-align: middle;
  }
  .filter__order-call {
    display: table;
  }
  .filter-product__change-car {
    display: block;
    margin-left: 0px;
    margin-top: 10px;
  }
  .filter-product__your-size-list {
    columns: 1;
  }
  .filter__choose-goods .filter-product__fields-item-poauto:nth-of-type(1) {
    padding-right: 0px;
  }
  .filter__choose-goods .filter-product__fields-item-poauto:nth-of-type(2) {
    padding-left: 0px;
  }
  .filter__choose-goods .filter-product__fields-item-poauto:nth-of-type(3) {
    padding-left: 0px;
  }
  .filter__choose-goods .filter-product__fields .btn-style {
    width: 100%;
  }
  
  .filter-product__your-size-desc{
    float: none;
    display: block;
    width: 100%;
  }
  .filter-product__your-size-desc:nth-of-type(2){
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #979797;
  }
  .filter-product__your-size-desc li span.left,
  .filter-product__your-size-desc:nth-of-type(2) li span.left {
    width: 45vw;
    min-width: 144px;
    padding-right: 10px;
  }
  .filter__find-block-left {
    width: 100%;
  }
  .filter__find-block-right {
    width: 100%;
    margin-top: 10px;
  }
  .filter__find-block-btns {
    margin: 0 -5px;
  }
  .filter__find-block-btn-wrapper {
    padding: 0 5px;
  }
  .filter__find-block-left-wrapper.clear{
    margin: 0 -5px;
  }
  .filter__find-block-info {
    padding: 0 5px;
  }
  .filter__find-block-index {
    width: 50%;
    padding: 0 5px;
  }
  .filter__find-block-index .filter-multichoose {
    width: 100%;
}
@media (max-width: 559px) {
  .filter__find-block-info p{
    line-height: 19px;
  }
  .filter__find-block-info p .fillter__size{
    display: block;
  }
}
@media (max-width: 539px) {
  .filter__tab-text {
    padding: 9px 70px 8px;
  }
}

@media (max-width: 479px) {
  .filter__tab-text {
    padding: 9px 40px 8px;
  }
  .filter__find-block-index .filter-multichoose-body {
    margin: 0px;
    margin-top: 25px;
    right: 0px;
    left: auto;
  }
}

@media (max-width: 379px) {
  .filter__tab-helper {
    right: 10px;
  }
  .filter__tab-text {
    padding: 9px 30px 8px;
  }
}

