/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/
.city-change__value {
    display: inline-block;
    vertical-align: bottom;
    font-size: 22px;
    font-weight: bold;
    
}
.city-change__link{
    display: inline-block;
    font-size: 16px;
    color: #999;
    margin-left: 20px;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
}
.city-change__link:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border-bottom: 1px dashed #979797;
}
.city-change__modal{
	text-align: center;
	color: #000;
}
.city-change__modal-main-caption {
    display: block;
    font-size: 14px;
    line-height: 20px;
}
.city-minsk {
    text-align: left;
    padding: 20px 0px 20px 0px;
}
.city-minsk__text {
    position: relative;
    display: inline-block;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    padding-right: 40px;
     -webkit-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
}
.city-minsk__text:hover{
	cursor: pointer;
}

.city-change__modal-main-list {
    list-style-type: none;
    text-align: left;
    width: 100%;
    height: 130px;
    columns: 6;
    box-shadow: inset 0px 2px 0px 0px #ddd;
    padding: 10px 0px 10px 0px;
}
.city-change__modal-main-list-item_text {
    display: table;
    position: relative;
    font-size: 14px;
    line-height: 35px;
    padding-right: 35px;
}
.city-change__modal-main-list-item_text:hover {
    cursor: pointer;
}
.city-change__modal-main-city-icon {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 24px;
}
.city-minsk__icon {
    top: 0px;
    width: 27px;
}

.city-change__modal-main-inputs {
    padding: 20px 0px 20px 0px;
    box-shadow: inset 0px 2px 0px 0px #ddd;
}
.city-change__modal-main-inputs-block {
    margin: 0 -10px;
    margin-top: 20px;
}
.city-change__modal-main-inputs-block_item {
    float: left;
    width: 25%;
    padding: 0px 10px;
}
.city-change__modal-main-inputs-search {
    position: relative;
}
.city-change__modal-main-inputs-search-block {
    margin-top: 0px;
    padding-right: 30px;
}
.city-change__input-style {
    display: block;
    width: 100%;
    height: 36px;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 36px;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
    border: none;
    box-shadow: inset 0 0 0 1px #eee;
    border-radius: 3px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
}
.city-change__modal-main-inputs-search-tool {
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    margin-top: -8px;
    width: 16px;
}
.city-change__modal-main-inputs_select span.select-value {
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 36px;
    font-weight: bold;
}
.city-change__modal-main-inputs_select ul.select-list {
    width: 100%;
}
.city-change__modal-main-inputs_select ul.select-list li {
    text-align: left;
    padding: 0 7px;
    font-weight: normal;
    line-height: 22px;
}
.city-change__modal-main-inputs_confirm {
    margin: 0 -10px;
}
.city-change__modal-main-inputs_confirm-item {
    float: right;
    width: 25%;
    padding: 0 10px;
}
.city-change__btn{
	display: block;
    border-radius: 3px;
    font-size: 16px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
}
.city-change__modal-main-inputs_confirm-cancel {
    background-color: #e0e0e0;
    color: #999;
}
.city-change__modal-main-inputs_confirm-btn {
    background-color: #e2001a;
    color: #fff;
}
.city-change__modal-main-inputs_confirm-cancel:hover {
    box-shadow: inset 0px 0px 0px 1px #ccc;
    color: #666;
    cursor: pointer;
}
.city-change__modal-main-inputs_confirm-btn:hover {
    background-color: #ff2c2c;
    cursor: pointer;
}
@media (max-width: 1440px) {}

@media (max-width: 1199px) {}

@media (max-width: 959px) {
	.city-change__modal-main-list {
	    height: 200px;
	    columns: 4;
	}
	.city-change__modal-main-inputs-block {
	    margin-top: 10px;
	}
	.city-change__modal-main-inputs-block_item {
	    width: 50%;
	    padding: 10px 10px;
	}
	.city-change__modal-main-inputs_confirm-item {
	    width: 50%;
	}
}

@media (max-width: 767px) {}

@media (max-width: 639px) {
	.city-change__modal-main-list {
	    height: 340px;
	    columns: 2;
	}
	.city-change__modal-main-inputs-block_item {
	    width: 100%;
	}
	.city-change__modal-main-inputs_confirm  {
	    display: -webkit-flex;
	    display: -moz-flex;
	    display: -ms-flex;
	    display: -o-flex;
	    display: flex;
	    -webkit-flex-wrap: wrap;
	    -moz-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    -o-flex-wrap: wrap;
	    flex-wrap: wrap;
	}
	.city-change__modal-main-inputs_confirm-item {
	    width: 100%;
	}
	.city-change__modal-main-inputs_confirm-item:first-of-type {
	    order: 1;
	    margin-top: 20px;
	}
}

@media (max-width: 479px) {}

@media (max-width: 320px) {}

